<section>
    <h3>Matchs en cours</h3>
    <table style="width:100%">
    {% for m in matches %}
      {% if m.state == 1 %}
        <tr>
          <td class="grid-1">
            {% if m.group %}
              {{ m.group.name }}
            {% else %}
              {{ m.koMatch.frenchLevel }}
            {% endif %}
          </td>
          <td class="grid-2">{{ m.part1 }}</td>
          <td class="grid-2">{{ m.part2 }}</td>
          <td class="grid-1"><strong>{{ m.score1 }} : {{ m.score2 }}</strong></td>
          <td class="grid-1">
            <a href="{{ path("insalan_tournament_admin_match_setstate", {id: m.id, state: 2}) }}"><button>Terminer</button></a>
          </td>
          <td class="grid-3">
            <form method="POST" action="{{ path("insalan_tournament_admin_match_addround", {id: m.id}) }}">
              Score : 
              <input class="scoreInput" type="number" name="score1"/> : 
              <input class="scoreInput" type="number" name="score2"/> 
              &nbsp; 
              <input type="submit" value="Ajouter round"/>
            </form>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</section>
<section>
  <h3>Matchs en attente</h3>
  <table style="width:100%">
    {% for m in matches %}
      {% if m.state == 0 and m.part1 and m.part2 %}
        <tr>
          <td class="grid-1">
            {% if m.group %}
              {{ m.group.name }}
            {% else %}
              {{ m.koMatch.frenchLevel }}
            {% endif %}
          </td>
          <td class="grid-2">{{ m.part1 }}</td>
          <td class="grid-2">{{ m.part2 }}</td>
          <td class="grid-1"><strong>{{ m.score1 }} : {{ m.score2 }}</strong></td>
          <td class="grid-4">
            <a href="{{ path("insalan_tournament_admin_match_setstate", {id: m.id, state: 1}) }}"><button>OUVRIR LE MATCH</button></a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</section>
<section>
  <h3>Matchs terminés</h3>
  <table style="width:100%">
    {% for m in matches %}
      {% if m.state == 2 and m.part1 and m.part2 %}
        <tr>
          <td class="grid-1">
            {% if m.group %}
              {{ m.group.name }}
            {% else %}
              {{ m.koMatch.frenchLevel }}
            {% endif %}
          </td>
          <td class="grid-2">{{ m.part1 }}</td>
          <td class="grid-2">{{ m.part2 }}</td>
          <td class="grid-1"><strong>{{ m.score1 }} : {{ m.score2 }}</strong></td>
          <td class="grid-4">
            {% for r in m.rounds %}
              {{ r }} 
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</section>