<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      {{ counter }}
    </div>
    <div class="title pull-left">
      Récapitulatif avant paiement
    </div>
    <br class="clear">
  </header>
  <div class="text">
    <br/>
    <table class="order">
      <tr>
        <td>Prix de la place {% if selectedDiscount %}(Tarif {{ selectedDiscount.name }}){% endif %}</td>
        <td>{{ registrable.webprice - (selectedDiscount.amount | default(0)) }} {{ registrable.currency }}</td>
      </tr>
      <tr>
        <td>Majoration si paiement en ligne</td>
        <td>{{ registrable.onlineIncreaseInPrice }} {{ registrable.currency }}</td>
      </tr>
    </table>
    <br>
    {% if selectedDiscount %}
      <h2>
        <strong>Tarif réduit {{ selectedDiscount.name }}</strong>
        <a href="{{ path('insalan_tournament_user_pay', {registrable: registrable.id}) }}">
          <button class="btn2 btn2-nocolor" style="font-size: 0.6em">
            Retour tarif normal
          </button>
        </a>
      </h2>
      <br>
      Vous avez sélectionné le tarif réduit &laquo; {{ selectedDiscount.name }} &raquo;. <strong>Un justificatif vous sera demandé</strong> à votre arrivé à l'InsaLan.
      <br/>
      A défaut, vous devrez vous acquitter de la différence au plein tarif sur place ({{ registrable.onSitePrice }} {{ registrable.currency }}).
      <br/>
      <br/>
    {% elseif discounts %}
      Tarifs réduit disponibles :
      {% for discount in discounts %}
        <a href="{{ path('insalan_tournament_user_pay_1', {registrable: registrable.id, discount: discount.id}) }}">
          <button class="btn2" style="font-size: 0.8em">
            {{ discount.name }} ({{ registrable.webprice - discount.amount }} {{ registrable.currency }})
          </button>
        </a>
      {% endfor %}
      <br/><br/>
    {% endif %}
    <h2><strong>Moyens de paiement disponibles</strong></h2>
    <br>
    <ul class="shift">
      <li>En ligne : Paypal , Chèque </li>
      <li>Sur place : Chèque, Espèces, CB</li>
      <li>Point de vente partenaire (Le WarpZone - Rennes) : Chèque, Espèces, CB</li>
    </ul>
    <br/></br>
      
    <h2><strong>E-billet</strong></h2>
    <br>
    <p>
      Cette année un système de billets électroniques est mis en place. Il permettra de diminuer le temps d'attente à l'arrivée des participants. Seuls les joueurs dont l'équipe est validée (le cas échéant) et qui ont réglé avant l'InsaLan (Paypal, chèque, point de vente partenaire) recevront un billet électronique.
    </p>
    <br/></br>

    {% include 'InsaLanTournamentBundle:Part:ImportantDetails.html.twig'  with {'registrable': registrable}%}
      
    <p>
      En cliquant sur le bouton "Chèque/Partenaire/Sur place" ou le bouton "Paiement en ligne" vous déclarez avoir lu et accepté sans réserve les <strong><a href="{{ path('insalan_information_default_salesterms') }}" target="_blank" >[conditions générales de vente &#x25BE;]</a></strong> ainsi que le <strong><a href="{{ path('insalan_tournament_default_rules', {id: registrable.id}) }}" target="_blank" >[règlement du tournoi &#x25BE;]</a></strong>
    </p>
    <br/><br/>
  </div>

  {% if registrable.kind == "tournament" and registrable.participantType == 'team' %}
    <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_leaveteam', {registrable: registrable.id, teamId: player.teamForTournament(registrable).id}) }}">
      Annuler
    </a>
  {% else %}
    <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_leave', {registrable: registrable.id}) }}">
      Annuler
    </a>
  {% endif %}

  {% if registrable.freeSlots > 0 or (registrable.kind == "tournament" and registrable.participantType == 'team' and player.teamForTournament(registrable).validated) %}

    {% if selectedDiscount %}
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_user_payoffline_1', {registrable: registrable.id, discount: selectedDiscount.id}) }}">
        Chèque/Partenaire/Sur place
      </a>
    {% else %}
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_user_payoffline', {registrable: registrable.id}) }}">
        Chèque/Partenaire/Sur place
      </a>
    {% endif %}
    {% if registrable.isOpenedNow %}
      {% if selectedDiscount %}
        <a class="btn btn-primary ctrl grid-3 pull-left" href="{{ path('insalan_tournament_user_paypaypalec_1', {registrable: registrable.id, discount: selectedDiscount.id}) }}">
          Paiement en ligne
        </a>
      {% else %}
        <a class="btn btn-primary ctrl grid-3 pull-left" href="{{ path('insalan_tournament_user_paypaypalec', {registrable: registrable.id}) }}">
          Paiement en ligne
        </a>
      {% endif %}
    {% else %}
      <span class="btn ctrl grid-3 pull-left">
        Paiement en ligne indisponible
      </span>
    {% endif %}

  {% else %}

    {% if selectedDiscount %}
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_user_payoffline_1', {registrable: registrable.id, discount: selectedDiscount.id}) }}">
        Chèque/Partenaire/Sur place
      </a>
    {% else %}
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_user_payoffline', {registrable: registrable.id}) }}">
        Chèque/Partenaire/Sur place
      </a>
    {% endif %}
    <span class="btn ctrl grid-3 pull-left">
      Paiement en ligne indisponible
    </span>
    {#
    <span class="btn ctrl grid-8 pull-left">
      Tournoi complet, paiement impossible.
    </span>
    #}

  {% endif %}

  <br class="clear">
</div>
