<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Récapitulatif avant paiement</div>
    <br class="clear">
  </header>
  <div class="text">
      <br />
      <table class="order">
          <tr>
              <td>Prix de la place {% if selectedDiscount %}(Tarif {{ selectedDiscount.name }}){% endif %}</td>
              <td>{{ registrable.webprice - (selectedDiscount.amount | default(0)) }} {{ registrable.currency }}</td>
           </tr>
           <tr>
               <td>Majoration si paiement en ligne</td>
               <td>{{ registrable.onlineIncreaseInPrice }} {{ registrable.currency }}</td>
           </tr>
      </table>
      <br>
      {% if selectedDiscount %}
      <h2>
        <strong>Tarif réduit {{ selectedDiscount.name }}</strong>
        <a href="{{ path('insalan_tournament_user_pay', {registrable: registrable.id}) }}"><button class="btn2 btn2-nocolor" style="font-size: 0.6em">Retour tarif normal</button></a>
      </h2><br>
      Vous avez sélectionné le tarif réduit &laquo; {{ selectedDiscount.name }} &raquo;. <strong>Un justificatif vous sera demandé</strong> à votre arrivé à l'InsaLan.<br/>
      A défaut, vous devrez vous acquitter de la différence au plein tarif sur place ({{ registrable.onSitePrice }} {{ registrable.currency }}).<br/>
      <br/>
      {% elseif discounts %}
        Tarifs réduit disponibles :
        {% for discount in discounts %}
            <a href="{{ path('insalan_tournament_user_pay_1', {registrable: registrable.id, discount: discount.id}) }}">
                <button class="btn2" style="font-size: 0.8em">{{ discount.name }} ({{ registrable.webprice - discount.amount }} {{ registrable.currency }})</button>
            </a>
        {% endfor %}
        <br/><br/>
      {% endif %}
      <h2><strong>Moyens de paiement disponibles</strong></h2><br>
      <ul class="shift">
          <li>En ligne : Paypal{# , Chèque #}</li>
          <li>Sur place : Chèque, Espèces, CB</li>
          {# <li>Point de vente partenaire (Le WarpZone - Rennes) : Chèque, Espèces, CB</li> #}
      </ul>
      <br/></br>

      <h2><strong>Points importants</strong></h2><br/>
      <ul class="shift">
          <li><strong>Attention</strong> : si vous n'avez pas été officiellement désigné pour représenter votre école, ne vous inscrivez pas. Aucun remboursement ne sera effectué dans ce cas.</li>
          <br />
          {#
          <li>Le tarif indiqué est valable jusqu'au {{ registrable.registrationClose|date('d/m/Y à H:i') }}. Passée cette date, seul le plein tarif (sur place) sera disponible.</li>
          <br />
          #}
          <li>{# Si vous jouez en équipe (CS:GO, Dota, LoL, OW), #}<strong>Votre équipe ne sera validée qu'après réception du paiement d'au moins la moitié des membres</strong>.</li>
          {#
          <li>Si vous jouez seul (HS, SFV, DBFz), votre inscription sera validée dès la réception de votre paiement.</li>
          <li>Si vous choisissez l'envoi par chèque, <strong>nous ne pouvons pas vous assurer qu'il restera des places lors de la réception de ce dernier</strong>, sauf si 3 de vos coéquipiers ont déjà payé en ligne (cf ci-dessus).</li>
          #}
          <li>Si vous payez sur place, la moitié des membres de votre équipe doivent avoir payé en ligne{# ou par chèque (cf. point 1) #}.</li>
          <li><strong>Attention</strong> : c'est à vous d'amener votre ordinateur (portable ou fixe), ainsi que multiprise et câble Ethernet. Vous pourrez laisser votre matériel sur place durant la nuit, des équipes de sécurité seront en charge de surveiller la salle.</li>
      </ul>
      <br/><br/>
  </div>

  {% if registrable.kind == "tournament" and registrable.participantType == 'team' %}
  <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_leaveteam', {registrable: registrable.id, teamId: player.teamForTournament(registrable).id}) }}">Annuler</a>
  {% else %}
  <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_leave', {registrable: registrable.id}) }}">Annuler</a>
  {% endif %}

  {% if registrable.freeSlots > 0 or (registrable.kind == "tournament" and registrable.participantType == 'team' and player.teamForTournament(registrable).validated) %}

  {% if selectedDiscount %}
  <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_user_payoffline_1', {registrable: registrable.id, discount: selectedDiscount.id}) }}">{# Chèque/Partenaire/ #}Sur place</a>
  {% else %}
  <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_user_payoffline', {registrable: registrable.id}) }}">{# Chèque/Partenaire/ #}Sur place</a>
  {% endif %}
    {% if registrable.isOpenedNow %}
      {% if selectedDiscount %}
      <a class="btn btn-primary ctrl grid-3 pull-left" href="{{ path('insalan_tournament_user_paypaypalec_1', {registrable: registrable.id, discount: selectedDiscount.id}) }}">Paiement en ligne</a>
      {% else %}
      <a class="btn btn-primary ctrl grid-3 pull-left" href="{{ path('insalan_tournament_user_paypaypalec', {registrable: registrable.id}) }}">Paiement en ligne</a>
      {% endif %}
    {% else %}
      <span class="btn ctrl grid-3 pull-left">Paiement en ligne indisponible</span>
    {% endif %}

  {% else %}

  <span class="btn ctrl grid-8 pull-left">Tournoi complet, paiement impossible.</span>

  {% endif %}

  <br class="clear">
</div>
