<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Créer ou rejoindre une équipe</div>
    <br class="clear">
  </header>
  <div class="text">
    <p>
    Si vous souhaitez créer une nouvelle équipe pour ce tournoi, cliquez sur créer.
    </p>
    <p>
    Si un de vos coéquipiers a déjà créé une équipe pour ce tournoi, cliquez sur rejoindre.
    </p>
  </div>
  
  {% if tournament.loginType == "Autre" %}
  	<a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_setplayer', {tournament: tournament.id}) }}">Annuler</a>
  {% else %}
  	<a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_index') }}">Annuler</a>
  {% endif %}
  <a class="btn btn-primary ctrl grid-4 pull-left" href="{{ path('insalan_tournament_user_createteam', {tournament: tournament.id}) }}">Créer</a>
  <a class="btn btn-primary ctrl grid-4 pull-left" href="{{ path('insalan_tournament_user_existingteam', {tournament: tournament.id}) }}">Rejoindre</a>
  <br class="clear">
</div>
