<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Entrez votre pseudonyme en jeu :</div>
    <br class="clear">
  </header>
  <form action="{{ path('insalan_tournament_user_setplayer', {tournament: tournamentId}) }}" id="step1" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
    <div class="input field">
      <input type="text" placeholder="Votre pseudonyme..." name="{{ form.gameName.vars.full_name }}" value="{{ form.vars.value.gameName }}"/>
    </div>
    <a class="btn btn-primary ctrl grid-10" href="javascript:{}" onclick="document.getElementById('step1').submit();">Ok</a>
  </form>
</div>
