<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      3
    </div>
    <div class="title pull-left">Récapitulatif avant paiement</div>
    <br class="clear">
  </header>
  <div class="text">
      <table class="order">
          <tr>
              <td>
                  Tournoi
              </td>
              <td>
                  {{ tournament.name }}
              </td>
          </tr>
          <tr>
              <td>
                  Prix
              </td>
              <td>
                  {{ tournament.webprice }} 
              </td>
          </tr>
      </table>
  </div>
  
  <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_setplayer', {tournament: tournament.id}) }}">Annuler</a>
  <a class="btn btn-primary ctrl grid-4 pull-left" href="{{ path('insalan_tournament_user_createteam', {id: tournament.id}) }}">Paypal</a>
  <a class="btn btn-primary ctrl grid-4 pull-left" href="{{ path('insalan_tournament_user_existingteam', {id: tournament.id}) }}">Chèque/Sur place</a>
  <br class="clear">
</div>
