{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Bienvenue {{ app.user.username }}</h2>
  </header>

  {% if player != null %}
  {% for t in player.team %}
  {% if t.validated %}
  <div class="frame frame-success">
    <header class="full">
      <div class="step pull-left">
        
      </div>
      <div class="title pull-left">Équipe {{ t.name }}</div>
      <br class="clear">
    </header>
   {% else %}
   <div class="frame frame-warning">
    <header class="full">
      <div class="step pull-left">
        
      </div>
      <div class="title pull-left">Équipe {{ t.name }}</div>
      <br class="clear">
    </header>
    {% endif %}
    <section>
      <div class="text">
        <ul class="shift">
          {% for p in t.players %}
          <li>{{ p.getName(t.tournament.type) }}</li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
  {% endfor %}
  {% endif %}

  <div class="frame">
    <header class="full">
      <div class="step pull-left">
        +
      </div>
      <div class="title pull-left">Inscription à un tournoi</div>
      <br class="clear">
    </header>
      <section class="tournaments">
        <ul>
          {% for t in tournaments %}
            {% spaceless %}
              <li>
                {% if t.participantType == 'team' %}
                <a href="{{ path('insalan_tournament_user_jointeam', {id: t.id}) }}">
                {% else %}
                <a href="{{ path('insalan_tournament_user_joinplayer', {id: t.id}) }}">
                {% endif %}
                  <img src="{{ asset('uploads/tournament/' ~ t.id ~ '.png') }}" alt="{{ t.name }}"/>
                </a>
              </li>
            {% endspaceless %}
          {% endfor %}
        </ul>
      <div class="clear"></div>
    </section>
  </div>

</article>

{% endblock %}
