{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Bienvenue {{ app.user.username }}</h2>
  </header>
  {% if player != null %}
  {% for t in player.team %}
  {% if t.validated == 2 %}
  <div class="frame frame-success">
    <header class="full">
      <div class="step pull-left">
        &#10003;
      </div>
      <div class="title pull-left">{{ t.name }}</div>
      <div class="title pull-right">{{ t.tournament.name }}</div>
      <br class="clear">
    </header>
   {% else %}
   <div class="frame frame-warning">
    <header class="full">
      <div class="step pull-left">
       ! 
      </div>
      <div class="title pull-left">{{ t.name }} (non validée)</div>
      <div class="pull-right">
        <img style="margin-right:20px;max-height:50px" src="{{ asset('uploads/tournament/' ~ t.tournament.id ~ '.png') }}" alt="{{ t.tournament.name }}"/>
      </div>
      <br class="clear">
    </header>
    {% endif %}
      <div class="text">
        <ul class="shift">
          {% for p in t.players %}
          <li>
            
            {{ p.getName(t.tournament.type) }}
          </li>
          {% endfor %}
        </ul>
        <p class="pull-right">
          <a href="{{ path('insalan_tournament_user_leaveteam', {teamId: t.id}) }}">[Quitter l'équipe]</a>
        </p>
        <br class="clear">
      </div>
  </div>
  {% endfor %}
  {% endif %}

  <div class="frame frame-active">
    <header class="full">
      <div class="step pull-left">
        &#x271a;
      </div>
      <div class="title pull-left">Inscription à un tournoi</div>
      <br class="clear">
    </header>
      <section class="tournaments">
        <ul>
          {% for t in tournaments %}
            {% spaceless %}
              <li>
                {% if t.participantType == 'team' %}
                <a href="{{ path('insalan_tournament_user_jointeam', {id: t.id}) }}">
                {% else %}
                <a href="{{ path('insalan_tournament_user_joinplayer', {id: t.id}) }}">
                {% endif %}
                  <img src="{{ asset('uploads/tournament/' ~ t.id ~ '.png') }}" alt="{{ t.name }}"/>
                </a>
              </li>
            {% endspaceless %}
          {% endfor %}
        </ul>
      <div class="clear"></div>
    </section>
  </div>

</article>

{% endblock %}
