{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Bienvenue {{ app.user.username }}</h2>
  </header>


  <div class="frame">
    <header class="full">
      <div class="step pull-left">
        E
      </div>
      <div class="title pull-left">Mon équipe</div>
      <br class="clear">
    </header>
    <section>
      <p>Hello</p>
    </section>
  </div>

  <div class="frame">
    <header class="full">
      <div class="step pull-left">
        T
      </div>
      <div class="title pull-left">Inscription à un tournoi</div>
      <br class="clear">
    </header>
      <section class="tournaments">
        <ul>
          {% for t in tournaments %}
            {% spaceless %}
              <li>
                <a href="{{ path('insalan_tournament_user_jointeam', {id: t.id}) }}">
                  <img src="{{ asset('uploads/tournament/' ~ t.id ~ '.png') }}" alt="{{ t.name }}"/>
                </a>
              </li>
            {% endspaceless %}
          {% endfor %}
        </ul>
      <div class="clear"></div>
    </section>
  </div>

</article>

{% endblock %}
