{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Bienvenue {{ app.user.username }}</h2>
  </header>
  {% if player != null %}
  {% for t in player.team %}
  {% if t.validated == 2 %}
  <div class="frame frame-success">
    <header class="full">
      <div class="step pull-left">
        &#10003;
      </div>
      <div class="title pull-left">{{ t.name }}</div>
      <div class="title pull-right">
        <img style="margin-right:0px;max-height:60px;display:block;" src="{{ asset(t.tournament.getUploadDir() ~ t.tournament.logoPath) }}" alt="{{ t.tournament.name }}"/>
      </div>
      <br class="clear">
    </header>
    <div class="text">
      <ul class="shift" style="list-style-type:none">
        {% for p in t.players %}
        <li>
          <div class="pull-left">
            <img height="40" src="http://ddragon.leagueoflegends.com/cdn/4.17.1/img/profileicon/{{ p.lolPicture }}.png">
          </div>
          <div style="margin: 8px 0px 0px 10px;" class="pull-left">
            <span><a href="http://www.lolking.net/summoner/euw/{{ p.lolId }}">{{ p.getName(t.tournament.type) }}</a></span>
          </div>
          <br class="clear">
        </li>
        {% endfor %}
      </ul>
    </div>

    <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_leaveteam', {teamId: t.id}) }}">Quitter</a>
    <a class="btn btn-primary ctrl grid-8 pull-left" href="{{ path('insalan_tournament_user_teamdetails', {id: t.id }) }}">Jouer mes matchs</a>
    <br class="clear">
  </div>


  {% else %}
  <div class="frame frame-warning">
    <header class="full">
      <div class="step pull-left">
       ! 
      </div>
      <div class="title pull-left">{{ t.name }} (non validée)</div>
      <div class="pull-right">
        <img style="margin:0px;max-height:60px;display:block;" src="{{ asset(t.tournament.getUploadDir() ~ t.tournament.logoPath) }}" alt="{{ t.tournament.name }}"/>
      </div>
      <br class="clear">
    </header>
    <div class="text">
      <ul class="shift" style="list-style-type:none">
        {% for p in t.players %}
        <li>
          <div class="pull-left">
            <img height="40" src="http://ddragon.leagueoflegends.com/cdn/4.17.1/img/profileicon/{{ p.lolPicture }}.png">
          </div>
          <div style="margin: 8px 0px 0px 10px;" class="pull-left">
            <span><a href="http://www.lolking.net/summoner/euw/{{ p.lolId }}">{{ p.getName(t.tournament.type) }}</a></span>
          </div>
          <br class="clear">
        </li>
        {% endfor %}
      </ul>
    </div>

    <a class="btn btn-danger ctrl grid-10 pull-left" href="{{ path('insalan_tournament_user_leaveteam', {teamId: t.id}) }}">Quitter</a>
    <br class="clear">
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <div class="frame frame-active">
    <header class="full">
      <div class="step pull-left">
        &#x271a;
      </div>
      <div class="title pull-left">Inscription à un tournoi</div>
      <br class="clear">
    </header>
      <section class="tournaments">
        <ul>
          {% for t in tournaments %}
            {% spaceless %}
              <li>
                {% if t.participantType == 'team' %}
                <a href="{{ path('insalan_tournament_user_jointeam', {id: t.id}) }}">
                {% else %}
                <a href="{{ path('insalan_tournament_user_joinplayer', {id: t.id}) }}">
                {% endif %}
                  <img src="{{ asset(t.getUploadDir() ~ t.logoPath) }} " alt="{{ t.name }}"/>
                </a>
              </li>
            {% endspaceless %}
          {% endfor %}
        </ul>
      <div class="clear"></div>
    </section>
  </div>

</article>

{% endblock %}
