{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ tournament.name }} &raquo;</h2>
    {{ tournament.description }}
  </header>

  <section>

    <div class="frame">
      <header>
        <div class="step pull-left">
          1
        </div>
        <div class="title pull-left">
          Invocateur sélectionné : {{ player.name }}
        </div>
        <div class="pull-right" style="height:60px">
          <img height="60" src="http://ddragon.leagueoflegends.com/cdn/4.17.1/img/profileicon/{{ player.lolPicture }}.png">
        </div>
        <br class="clear">
      </header>
    </div>

    <div class="frame">
      <header>
        <div class="step pull-left">
          2
        </div>
        <div class="title pull-left">Invocateur validé</div>
        <br style="clear:both;">
      </header>
    </div>

    <div class="frame frame-active">
      <header class="full">
        <div class="step pull-left">
          3
        </div>
        <div class="title pull-left">Créer ou rejoindre une équipe</div>
        <br class="clear">
      </header>
      <div class="text">
        <p>
          Si vous souhaitez créer une équipe, choisissez un nom et un mot de passe, puis cliquez sur créer.
        </p>
        <p>
          Si vous souhaitez rejoindre une équipe, entrez le nom et le mot de passe choisi par votre coéquipier, puis cliquez sur rejoindre.
        </p>
      </div>
      <form id="step3" method="POST" action="{{ path('insalan_user_default_teamidlolselect') }}">
        
        <div class="input field half pull-left"><input type="text"  placeholder="Nom de votre équipe" name="name"/></div>
        <div class="input field half pull-left "><input type="password"  placeholder="Mot de passe" name="password"/></div>
        <br class="clear">
        
        <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_setplayer', {game: 'lol'}) }}">Annuler</a>
        <a class="btn btn-primary ctrl grid-4 pull-left" href="javascript:{}" onclick="document.getElementById('step3').submit();">Créer</a>
        <a class="btn btn-primary ctrl grid-4 pull-left" href="javascript:{}" onclick="document.getElementById('step3').submit();">Rejoindre</a>
        <br class="clear">

      </form>
    </div>


  </section>
</article>
{% endblock %}
