{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - {{ team.getName() }}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>{{ team.name }} ({{ team.tournament }})</h2>
  </header>

  {% for g in team.groups %}
  
    <h3>{{ g.stage.name }} - {{ g.name }}</h3>

    {% set i=0 %}
    {% for m in g.matches %}
      
    {% if (m.part1 == team or m.part2 == team) %}
    {% set i=i+1 %}
    <div class="match_detail" data-p1="{{ m.part1.id }}" data-p2="{{ m.part2.id }}">

      <table cellpadding="3px">
        <caption>Match {{i}}</caption>
        <thead>
          <th style="width:45%">{{ m.part1.name }}</th>
          <th style="width:45%">{{ m.part2.name }}</th>
          <th style="width:10%"></th>
        </thead>
        {% for r in m.rounds %}
        <tr>
          <td class="{% if r.score1 > r.score2 %}won{% elseif r.score1 < r.score2 %}lost{% endif %}">
            {{r.score1}}
          </td>
          <td class="{% if r.score1 < r.score2 %}won{% elseif r.score1 > r.score2 %}lost{% endif %}">
            {{r.score2}}
          </td>
          <td>
            {% if r.replay == null and authorized %}
              <a href="{{ path('insalan_tournament_user_roundaddreplay', {id: team.id, round: r.id }) }}">replay</a>
            {% elseif r.replay != null %}
              <a href="{{ asset('uploads/tournament/replays/' ~ r.replay) }}">voir</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>

      {% if m.state == 0 %}
        <p>Match en attente</p>
      {% elseif m.state == 1 %}

        {% if authorized == true %}
        <p>
            Match à jouer entre <br> 
            <strong><a href="{{ path('insalan_tournament_default_teampage', {id: m.part1.id}) }}">{{ m.part1 }}</a></strong> et <strong><a href="{{ path('insalan_tournament_default_teampage',{id: m.part2.id}) }}">{{ m.part2 }}</a></strong>
        </p>

        <br /><br />
        <form action="{{ path('insalan_tournament_user_teamvalidatematch', {id: team.id, match: m.id }) }}" method="GET">
            <input value="Récupérer le match" type="submit">
        </form>
        {% else %}

        <p>Match en attente</p>

        {% endif %}

      {% else %}
        <p>Match terminé !</p>
        <p>Remporté par <strong>{{ m.getWinner().name }}</strong></p>
      {% endif %}

    </div>

    {% endif %}
    {% endfor %}

    <div class="clear"></div>

  {% endfor %}

{% endblock %}

