{% extends 'InsaLanTournamentBundle:User:layout.html.twig' %}

{% block title %}
  {{ parent() }} - {{ part.name }}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>{{ part.name }} ({{ part.tournament }})</h2>
  </header>

  {% if groupMatches|length == 0 and knockoutMatches|length == 0 %}
    <p style="margin-bottom:200px; margin-top:50px">Aucun match n'est pour l'instant disponible.</p>
  {% endif %}

  {% for g in groupMatches %}

    <h3>{{ g[0].group.stage.name }} - {{ g[0].group.name }}</h3>

    {% set i=0 %}
    {% for m in g %}
      {% set i=i+1 %}
      {% include 'InsaLanTournamentBundle:Part:matchDetailsForPart.html.twig' %}

    {% endfor %}

    <div class="clear"></div>

  {% endfor %}

  {% for k in knockoutMatches %}

    <h3>{{ k[0].koMatch.knockout.name }}</h3>

    {% set i=0 %}
    {% for m in k %}
      {% set i=i+1 %}
      {% include 'InsaLanTournamentBundle:Part:matchDetailsForPart.html.twig' %}

    {% endfor %}

    <div class="clear"></div>

  {% endfor %}

{% endblock %}

