{% extends 'InsaLanRSCBundle::layout.html.twig' %}

{% block body %}
  {{ parent() }}
 <div style="display: flex; justify-content: center">
  <br />
    <img width="800" align-self="center" src="{{ asset('bundles/insalanrsc/img/RSC-banner.jpg') }}" />
 </div>
  <br class="clear">
  <article id="horaire" class="info">
      <aside>
          <div class="square">
              <a href="">
                  <span></span>
              </a>
          </div>
      </aside>
      <header>
          <h2>Du 17 au 18 novembre 2018 à l'INSA Rennes</h2>
          <div style="font-size: 19px; margin-top: -18px">
            <span>
              20 avenue des buttes de Coësmes, 35708 Rennes - Arrêt Beaulieu Restau U (ligne 4, 31 et 32)
            </span>
          </div>
      </header>
  </article>
</section>

<section class="highlightBox">
    <div class="container" style="text-align:center">
        <h1 style="font-size:40px"> League of Legends --- Rocket League</h1>
        <br/><hr/><br/>
        <p>Entrée gratuite pour les visiteurs le samedi et dimanche aux horaires indiqués. L'inscription aux tournois officiels est payante.</p>
        <br/>

        <br class="clear"/><br/><br/>
        La Roazhon School Championship n'est possible que grâce au soutien de nos partenaires :
        <br/><br/>
        <div>
          <div class="grid-5 pull-left">
            Sponsors de l'événement : <br /><br />
            <div class="partener-list">
              <div class="partner">
                <a href="http://store.hp.com/FranceStore/Merch/Offer.aspx?p=c-OMEN-by-HP-laptop">
                  <img src="{{ asset('bundles/insalan/img/partenaires/omen.png') }}" alt="Omen" />
                </a>
              </div>
              <div class="partner">
                <a href="https://www.noctua.at/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/noctua.jpg') }}" alt="Noctua" />
                </a>
              </div>
              <div class="partner partner-xsmall">
                <a href="https://www.plantronics.com">
                  <img src="{{ asset('bundles/insalan/img/partenaires/plantronics.jpg') }}" style="margin-bottom: 15px" alt="Plantronics" />
                </a>
              </div>
              <br />
              <div class="partner">
                <a href="http://www.otaku-planete.com/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/otaku-planet.png') }}" alt="Otaku Planète" />
                </a>
              </div>
              <div class="partner">
                <a href="http://www.cosplay-craft.fr/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/cosplay-craft.png') }}" alt="Cosplay Craft" />
                </a>
              </div>
              <div class="partner">
                <a href="https://www.facebook.com/pages/JAPANIM-RENNES/107800482584960">
                  <img src="{{ asset('bundles/insalan/img/partenaires/japanim.jpg') }}" alt="Jap'Anim" />
                </a>
              </div>
            </div>
          </div>
          <div class="grid-5 pull-left">
            Partenaires institutionnels :<br /><br />
            <div class="partner-list">
              <div class="partner">
                <a href="http://www.rennes.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/vdr.png') }}" alt="Ville de Rennes" />
                </a>
              </div>
              <div class="partner partner">
                <a href="http://www.societegenerale.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/sogé.png') }}" alt="Société Générale" />
                </a>
              </div>
              <div class="partner partner">
                <a href="http://www.nrj.fr/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/nrj-rennes.png') }}" alt="NRJ Rennes" />
                </a>
              </div>
              <br /><br />
              <div class="partner partner-small">
                <a href="http://www.breizhloc.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/breizhloc.png') }}" alt="Breizh'Loc" />
                </a>
              </div>
              <div class="partner partner-small">
                <a href="https://pizza.dominos.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/dominos.png') }}" alt="Domino's" />
                </a>
              </div>
              <div class="partner partner-xsmall">
                <a href="http://www.accrochenet.com">
                  <img src="{{ asset('bundles/insalan/img/partenaires/accro.png') }}" alt="Accroche Net" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-10 pull-left">
          <br /><br />
          <div class="partner">
            <a href="http://www.digilux.lu/">
              <img src="{{ asset('bundles/insalan/img/partenaires/digilux.png') }}" alt="Digilux" />
            </a>
          </div>
          <div class="partner partner-small">
            <a href="http://www.modjo-escalade.fr/">
              <img src="{{ asset('bundles/insalan/img/partenaires/modjo.jpg') }}" alt="Modjo Rennes" />
            </a>
          </div>
          <div class="partner partner-xsmall">
            <a href="https://eyeblue.fr/">
              <img src="{{ asset('bundles/insalan/img/partenaires/eyeblue.png') }}" style="margin-bottom: 10px" alt="Eyeblue" />
            </a>
          </div>
          <div class="partner partner-small">
            <a href="http://virtualgame.fr/">
              <img src="{{ asset('bundles/insalan/img/partenaires/virtual-game.png') }}" alt="Virtual Games Rennes" />
            </a>
          </div>
          <div class="partner partner-small">
            <a href="http://www.leblizz.com/">
              <img src="{{ asset('bundles/insalan/img/partenaires/leblizz.png') }}" alt="Le Blizz" />
            </a>
          </div>
          <div class="partner partner-small">
            <a href="http://www.lasergame-evolution.com/fr/61/Rennes/">
              <img src="{{ asset('bundles/insalan/img/partenaires/lge.png') }}" alt="Laser Game Evolution" />
            </a>
          </div>
          <div class="partner partner-small">
            <a href="https://www.facebook.com/poutinebros/">
              <img src="{{ asset('bundles/insalan/img/partenaires/poutinebros.jpg') }}" alt="POUTINEBROS" />
            </a>
          </div>
        </div>
        <div class="grid-10 pull-left">
            <br /><br />
            Partenaires de l'association :<br /><br />
            <div class="partner-list">
                <div class="partner partner-small">
                  <a href="http://www.3hitcombo.fr/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/3hit.png') }}" alt="3Hit Combo" />
                  </a>
                </div>
                <div class="partner partner-small">
                  <a href="https://www.facebook.com/WarpZonebar">
                    <img src="{{ asset('bundles/insalan/img/partenaires/warpzone.png') }}" alt="Warp Zone" />
                  </a>
                </div>
                <div class="partner partner-small">
                    <a href="https://www.quantic-telecom.net/">
                      <img src="{{ asset('bundles/insalan/img/partenaires/quantic-telecom.png') }}" alt="Quantic Telecom" />
                    </a>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>


{% endblock %}
