{% extends 'InsaLanRSCBundle::layout.html.twig' %}

{% block body %}
  {{ parent() }}
  <article>
    <header style="margin-left: 0px">
      <h2 style="text-align: center">Roazhon School Championship</h2>
    </header>
  </article>
 <div class="img-center">
  <br/>
    <img width="800" align-self="center" src="{{ asset('bundles/insalanrsc/img/RSC-banner.jpg') }}" />
 </div>
  <br class="clear">
  <article id="horaire" class="info">
      <aside>
          <div class="square">
              <a href="">
                  <span></span>
              </a>
          </div>
      </aside>
      <header>
          <h2>Du 17 au 18 novembre 2018 à l'INSA Rennes</h2>
          <div style="font-size: 19px; margin-top: -18px">
            <span>
              20 avenue des buttes de Coësmes, 35708 Rennes - Arrêt Beaulieu Restau U (ligne 4, 31 et 32)
            </span>
          </div>
      </header>
  </article>
</section>

<section class="highlightBox">
    <div class="container" style="text-align:center">
        <h1 style="font-size:40px"> League of Legends --- Rocket League</h1>
        <br/><hr/><br/>

        <article id="asso" class="info">
          <aside>
            <div class="square">
              <a href="#body"><span></span></a>
            </div>
          </aside>

          <header>
            <h2>Présentation</h2>
          </header>

          <section>
            <p>
              Le projet <em>RSC</em> consiste à réunir les étudiants rennais adeptes du jeu vidéo. Souhaitant
              offrir une expérience privilégiée à cette communauté, l’association étudiante <em>InsaLan</em> a
              décidé d’organiser, le temps d’un week-end, un tournoi de jeux vidéos entièrement dédié
              aux étudiants de Rennes.
              <br/>
              Pour sa première édition, le tournoi s'organise autour de deux jeux emblématiques :
              <em>Rocket League</em> (3 vs 3) et <em>League of Legends</em> (5 vs 5). Durant 2 jours, <em>8 équipes étudiantes</em>
              s’affronteront afin de déterminer laquelle des écoles est la meilleure, dans chacune de ces
              catégories. Les équipes qui se démarqueront pourront gagner un total de <em>320 €</em> ainsi que
              des cadeaux offerts par <em>nos partenaires</em>.
              <br/>
              Bien plus qu’une simple compétition, le RSC est une occasion formidable pour les
              étudiants de tous les horizons de se rencontrer et d’échanger autour d’un centre d’intérêt
              commun. La compétition se déroulera au <em>Foyer de l'INSA</em>, campus Beaulieu, les <em>17 et 18
              novembre</em>.
            </p>
          </section>
        </article>

        <hr/>

        <article id="tarif" class="info">
          <aside>
            <div class="square">
              <a href="#body"><span></span></a>
            </div>
          </aside>

          <header>
            <h2>Inscriptions</h2>
          </header>

          <section>
            <p>
              Les inscriptions se font auprès de l'équipe RSC, via les représentants des étudiants de
              chaque école, puis dans un second temps sur le site
              <a href="https://www.insalan.fr">www.insalan.fr</a>. Le prix d’inscription est
              de <em>5€ par personne</em>.
              <br/>
              Chaque école peut inscrire <em>au maximum 8 étudiants</em> : 3 sur Rocket League et 5 sur League of
              Legends. <em>Les premiers inscrits sont prioritaires</em>.
              <br/>
              Si une école se voit proposer plusieurs candidatures d’équipes pour participer au RSC, il
              peut être envisagé d’organiser un match préalable (en ligne, avant l’événement), pour
              départager les deux équipes et décider laquelle représentera l’école.
            </p>
          </section>
        </article>

        <hr/>        <br/>

        <br class="clear"/><br/><br/>
        La Roazhon School Championship n'est possible que grâce au soutien de nos partenaires :
        <br/><br/>
        <div>
          <div class="grid-5 pull-left">
            Sponsors de l'événement : <br /><br />
            <div class="partener-list">
              <div class="partner">
                <a href="https://www.facebook.com/poutinebros/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/poutinebros.jpg') }}" alt="POUTINEBROS" />
                </a>
              </div>
              <div class="partner">
                <a href="https://dead-end.fr/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/dead-end.png') }}" alt="Dead End" />
                </a>
              </div>
              <div class="partner">
                <a href="http://www.leblizz.com/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/leblizz.png') }}" alt="Le Blizz" />
                </a>
              </div>
              <div class="partner partner-small">
                <a href="https://rennes.cineville.fr/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/cineville-rennes.png') }}" alt="Cinéville Rennes" />
                </a>
              </div>
            </div>
          </div>
          <div class="grid-5 pull-left">
            Partenaires institutionnels :<br /><br />
            <div class="partner-list">
              <div class="partner">
                <a href="http://www.rennes.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/vdr.png') }}" alt="Ville de Rennes" />
                </a>
              </div>
              <div class="partner partner">
                <a href="http://www.societegenerale.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/sogé.png') }}" alt="Société Générale" />
                </a>
              </div>
              <div class="partner partner">
                <a href="http://www.nrj.fr/">
                  <img src="{{ asset('bundles/insalan/img/partenaires/nrj-rennes.png') }}" alt="NRJ Rennes" />
                </a>
              </div>
              <br /><br />
              <div class="partner partner-small">
                <a href="http://www.breizhloc.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/breizhloc.png') }}" alt="Breizh'Loc" />
                </a>
              </div>
              <div class="partner partner-small">
                <a href="https://pizza.dominos.fr">
                  <img src="{{ asset('bundles/insalan/img/partenaires/dominos.png') }}" alt="Domino's" />
                </a>
              </div>
              <div class="partner partner-xsmall">
                <a href="http://www.accrochenet.com">
                  <img src="{{ asset('bundles/insalan/img/partenaires/accro.png') }}" alt="Accroche Net" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-10 pull-left">
            <br /><br />
            Partenaires de l'association :<br /><br />
            <div class="partner-list">
                <div class="partner partner-small">
                  <a href="http://www.3hitcombo.fr/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/3hit.png') }}" alt="3Hit Combo" />
                  </a>
                </div>
                <div class="partner partner-small">
                  <a href="https://www.facebook.com/WarpZonebar">
                    <img src="{{ asset('bundles/insalan/img/partenaires/warpzone.png') }}" alt="Warp Zone" />
                  </a>
                </div>
                <div class="partner partner-small">
                    <a href="https://www.quantic-telecom.net/">
                      <img src="{{ asset('bundles/insalan/img/partenaires/quantic-telecom.png') }}" alt="Quantic Telecom" />
                    </a>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>


{% endblock %}
