{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>{{ 'layout.register'|trans }}</h2>
  </header>

  <section>
    {{ form_start(form) }}

      <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />

      {{ form_errors(form) }}
      <div class="input left">
        <label for="{{ form.username.vars.id }}">{{ 'form.username'|trans }}</label>
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
      </div>

      <div class="input left">
        <label for="{{ form.email.vars.id }}">{{ 'form.email'|trans }}</label>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
      </div>

      <div class="input left">
        <label for="{{ form.plainPassword.first.vars.id }}">{{ 'form.password'|trans }}</label>
        {{ form_widget(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
      </div>

      <div class="input left">
        <label for="{{ form.plainPassword.second.vars.id }}">{{ 'form.password_confirmation'|trans }}</label>
        {{ form_widget(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
      </div>

      <div class="input left">
        <input type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
      </div>

    {{ form_end(form) }}
  </section>
</article>
{% endblock fos_user_content %}
