<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      {{ counter }}
    </div>
    <div class="title pull-left">
      Entrez votre pseudonyme en jeu :
    </div>
    <br class="clear">
  </header>
  {{ form_start(form) }}
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
    <div class="input field">
      {{ form_widget(form.gameName, {'attr': {'placeholder': "Votre pseudonyme..." }}) }}
    </div>
    <a class="btn btn-primary ctrl grid-10" href="javascript:{}" onclick="document.getElementById('step1').submit();">
      Ok
    </a>
  {{ form_end(form) }}
</div>
