{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/news.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}


<img src="{{ asset('bundles/insalan/img/cosplay.png') }}" width="1000"/>


<article id="cosplay" class="info">
    <aside>
        <div class="square">
            <a href="#body"><span></span></a>
        </div>
    </aside>

    <header>
        <h2>Le concours Cosplay de l'InsaLan, {{ globalVars.cosplayEdition }}ème édition !</h2>
    </header>

    <section>
        <em style="text-align: center">Préparez vos pinceaux, armez les ciseaux, partez vous faire tout beau ! En effet, {{ globalVars.cosplayName }} revient cette année à l'InsaLan. Alors venez costumé en votre personnage préféré et montez sur scène pour faire part de votre prestation devant un jury, qui choisira qui possède le costume le plus fidèle, le plus impressionnant, le plus touchant. </em>

        <h2 style="padding-top: 15px"> Le concours c'est quoi ? </h2>

        <p style="line-height: 1.1em">
            Le concours se déroulera <em>le {{ globalVars.cosplayDate }}</em> à l'INSA Rennes. Chaque participant ou groupe de participants devra faire une prestation sur scène devant le public et le jury. Ce jury, composé de trois membres, notera chaque prestation sur les critères suivants :
            <ul class="shift">
                <li>ressemblance avec l'image de référence</li>
                <li>qualité générale de la fabrication du costume</li>
                <li>originalité de la prestation</li>
                <li>qualité de la prestation</li>
                <li>coup de cœur</li>
            </ul>
            <p><em>Des vestiaires seront mis à disposition pour déposer les costumes avant l'événement.</em></p>
        </p>
    </section>

    <br /><br />
    <div class="partner-list">
        {#<div class="partner">
            <a href="https://www.ecolaines.com/">
            <img src="{{ asset('bundles/insalan/img/partenaires/ecolaine.png') }}" alt="Ecolaine" />
            </a>
        </div>
        <div class="partner partner-big">
            <a href="https://www.facebook.com/pages/JAPANIM-RENNES/107800482584960">
            <img src="{{ asset('bundles/insalan/img/partenaires/japanim.jpg') }}" alt="Jap'Anim" />
            </a>
        </div>
        <div class="partner partner-big">
            <a href="http://www.cosplay-craft.fr/">
            <img src="{{ asset('bundles/insalan/img/partenaires/cosplay-craft.png') }}" alt="Cosplay Craft" />
            </a>
        </div>#}
    </div>
</article>

<hr></hr>

<article id="links" class="info">
    <aside>
        <div class="square">
          <a href="#body"><span></span></a>
        </div>
    </aside>
    <header>
        <h2>Liens utiles</h2>
    </header>
    <section>
        <p>
            <ol class="shift">
                {#<li><strong><a href="{{ asset('bundles/insalan/pdf/reglement.pdf') }}" target="_blank" >[Règlement &#x25BE;]</a></strong>.</li>#}
                <li><strong><a href="{{ path('insalan_information_default_cosplayrules') }}">Règlement</a></strong>.</li>
                <li><strong><a href="{{ asset('bundles/insalan/pdf/droit-image-cosplay.pdf') }}" target="_blank" >[Autorisation de droit à l'image &#x25BE;]</a></strong>.</li>
                <li>Pour les mineurs : <strong><a href="{{ asset('bundles/insalan/pdf/autorisation-parental-cosplay.pdf') }}" target="_blank" >[Autorisation parentale &#x25BE;]</a></strong>.</li>
            </ol>
        </p>
        <p>
            Signer le ou les document(s) nécessaire(s) (imprimer, signer, scanner ou via une tablette graphique ou directement le jour de l'événement).
        </p>
    </section>
</article>

<hr></hr>
<article id="register" class="info">
    <aside>
        <div class="square">
          <a href="#body"><span></span></a>
        </div>
    </aside>
    <header>
        <h2>Inscription</h2>
    </header>
    <section>
        <p>
            Remplissez le questionnaire <strong>avant le {{ globalVars.cosplayEndRegistration }}</strong>.
        </p>
        <p>
            <em>Un problème ? Une question ? Envoyez-nous un mail à <a href="mailto:cosplay@insalan.fr">cosplay@insalan.fr</a> ou contactez-nous via <a href="https://fr-fr.facebook.com/events/2184619258426214/">Facebook</a> ou <a href="https://twitter.com/CInsalan">Twitter</a> !</em>
        </p>
    </section>
</article>

<br/><br/><center>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf935s_yWrarcj8Fmw19WcW-lVn8LLGp9i_iJASwnBNA8ZFvA/viewform?embedded=true" width="700" height="300" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
</center><br/><br/>


{% endblock %}
