{% extends 'InsaLanAdminBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <article class="info">
        <header>
            <h2>Administration des tournois</h2>
        </header>

        <h2>
            <a href="{{ path('GroupStageAction') }}">
                Gestion des phases de poule
            </a>
        </h2>
        <h2>
            <a href="{{ path('GroupAction') }}">
                Gestion des poules
            </a>
        </h2>
        <h2>
            <a href="{{ path('MatchAction') }}">
                Gestion des matchs
            </a>
        </h2>
    </article>
{% endblock %}