{% extends 'InsaLanNewsBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {{ parent() }}
  <div class="grid-7 pull-left">
    <iframe width="700" height="394" src="//www.youtube.com/embed/SKTF3-J4e5k?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="grid-3 pull-left">
      <div class="frame frame-active">
          <header class="full">
              <div class="title pull-left">LoL</div>
              <small class="pull-right">
                  32 slots
                  <br>
                  <strong>2 300€</strong>
              </small>
            <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">CS:GO</div>

              <small class="pull-right">
                  24 slots
                  <br>
                  <strong>1800€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">StarCraft II</div>
              <small class="pull-right">
                  32 slots
                  <br>
                  <strong>500€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">Dota 2</div>
              <small class="pull-right">
                  16 slots
                  <br>
                  <strong>1 200€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">Hearthstone</div>
              <small class="pull-right">
                  48 slots
                  <br>
                  <strong>700€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="huge-button">
              <div class="title pull-left">
                  {% if app.user %}
                  <a href="{{ path('insalan_tournament_user_index') }}" style="display:block">MON COMPTE</a>
                  {% else %}
                  <a href="{{path('fos_user_registration_register') }}" style="display:block">INSCRIPTION</a>
                  {% endif %}
              </div>
              <br class="clear">
          </header>
          <section class="tournaments">
          </section>
      </div>
  </div>
  <br class="clear">
  <article id="horaire" class="info">
      <aside>
          <div class="square">
              <a href="">
                  <span></span>
              </a>
          </div>
      </aside>
      <header>
          <h2>Du 4 au 7 février 2016 à l'INSA Rennes</h2>
          <div style="font-size: 19px; margin-top: -18px">
            <span>
              20 avenue des buttes de Coësmes, 35708 Rennes - Arrêt Beaulieu Restau U (ligne 4, 31 et 32)
            </span>
          </div>
      </header>
  </article>
</section>

<section class="highlightBox">
    <div class="container" style="text-align:center">
        <h1 style="font-size:40px">COSPLAY, RETROGAMING, MATCHS COMMENTÉS</h1>
        <br/><hr/><br/>
        <p>Entrée gratuite pour les visiteurs. L'inscription aux tournois officiels est payante.</p>
        <br/>
        <div class="grid-3-3 pull-left"> 
            <h1>VENDREDI</h1>
            <div style="text-align: center">
                <strong>20h00 - 01h00</strong>
            </div>
            <div>
                Ouverture de la halle au public
                <br/>Accueil des joueurs
                <br/>Bornes d'arcade, jeux, quizz
            </div>
        </div>

        <div class="grid-3-3 pull-left">
            <h1>SAMEDI</h1>
            <div style="text-align: center">
                <strong>08h00 - 01h00</strong>
            </div>
            <div>
                Ouverture de la halle au public
                <br/>Bornes d'arcade, jeux, quizz
            </div>
        </div>

        <div class="grid-3-3 pull-left">
            <h1>DIMANCHE</h1>
            <div style="text-align: center">
                <strong>08h00 - 01h00</strong>
            </div>
            <div>
                Finales sur scène
            </div>
            <div>
                Cérémonie de clôture
            </div>
        </div>
        <br class="clear"/><br/><br/>
        L'InsaLan XI n'est possible que grâce au soutien de nos partenaires :
        <br/><br/>
        <div class="partner-list">
          <div class="partner">
            <a href="http://www.insa-rennes.fr">
              <img src="{{ asset('bundles/insalan/img/partenaires/insa-rennes.png') }}" alt="INSA Rennes"/>
            </a>
          </div>
                    <div class="partner">
            <a href="http://www.razerzone.com">
              <img src="{{ asset('bundles/insalan/img/partenaires/razer.png') }}" alt="Razer" />
            </a>
          </div>
          <div class="partner">
            <a href="http://fr.msi.com/">
              <img src="{{ asset('bundles/insalan/img/partenaires/msi.png') }}" alt="MSI" />
            </a>
          </div>
          <div class="partner">
            <a href="http://www.rennes.fr">
              <img src="{{ asset('bundles/insalan/img/partenaires/vdr.png') }}" alt="Ville de Rennes" />
            </a>
          </div>
      </div>
      <br/>
      <div class="partner-list">
      <div class="partner">
         <a href="http://www.topachat.com/accueil/index.php">
           <img src="{{ asset('bundles/insalan/img/partenaires/topachat.jpg') }}" alt="TopAchat.com" />
         </a>
       </div>
       <div class="partner">
         <a href="http://www.achat-mania.com/dhtml/resultat_recherche.php?keywords=Tesoro&amp;ok=Ok&amp;as_sfid=AAAAAAU">
           <img src="{{ asset('bundles/insalan/img/partenaires/tesoro.png') }}" alt="Tesoro" />
         </a>
       </div>
        <div class="partner">
          <a href="http://online.net/">
            <img src="{{ asset('bundles/insalan/img/partenaires/online.png') }}" alt="Online.net" />
          </a>
        </div>

      </div>
      <br/><br/>
      <div class="partner-list">
        <div class="partner partner-xsmall">
          <a href="http://www.canardpc.com">
            <img src="{{ asset('bundles/insalan/img/partenaires/canardpc.png') }}" alt="CanardPC" />
          </a>
        </div>
        <div class="partner partner-xsmall">
            <a href="https://www.pandikey.com/">
              <img src="{{ asset('bundles/insalan/img/partenaires/pandikey.png') }}" alt="BuyKey" />
            </a>
        </div>
        <div class="partner partner-xsmall">
          <a href="https://www.facebook.com/WarpZonebar">
            <img src="{{ asset('bundles/insalan/img/partenaires/warpzone.png') }}" alt="Warp Zone" />
          </a>
        </div>
        <div class="partner partner-xsmall">
          <a href="http://www.accrochenet.com">
            <img src="{{ asset('bundles/insalan/img/partenaires/hil-proprete.jpg') }}" alt="HIL Propreté" />
          </a>
        </div>
        <div class="partner partner-xsmall">
          <a href="http://www.nadeo.com/">
            <img src="{{ asset('bundles/insalan/img/partenaires/ubisoft.png') }}" alt="Nadeo" />
          </a>
        </div>
        <div class="partner partner-xsmall">
          <a href="http://www.campanile.com/fr">
            <img src="{{ asset('bundles/insalan/img/partenaires/campanile.png') }}" alt="Campanile" />
          </a>
        </div>
        
      </div>
      <br/>
      <div class="partner-list">
          
        <div class="partner partner-small">
          <a href="http://www.3hitcombo.fr/">
            <img src="{{ asset('bundles/insalan/img/partenaires/3hit.png') }}" alt="3Hit Combo" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://aeir.asso.insa-rennes.fr">
            <img src="{{ asset('bundles/insalan/img/partenaires/aeir.png') }}" alt="AEIR" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://www.societegenerale.fr">
            <img src="{{ asset('bundles/insalan/img/partenaires/sogé.png') }}" alt="Société Générale" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://www.breizhloc.fr">
            <img src="{{ asset('bundles/insalan/img/partenaires/breizhloc.png') }}" alt="Breizh'Loc" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://www.star.fr">
            <img src="{{ asset('bundles/insalan/img/partenaires/star.jpg') }}" alt="Star" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://www.pizzasprint.com/pizza-sprint-rennes-centre-st-helier">
            <img src="{{ asset('bundles/insalan/img/partenaires/pizzasprint.png') }}" alt="Pizza Sprint" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://www.noctua.at/">
            <img src="{{ asset('bundles/insalan/img/partenaires/noctua.jpg') }}" alt="Noctua" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="http://www.ouest-france.fr">
            <img src="{{ asset('bundles/insalan/img/partenaires/ouest-france.png') }}" alt="Ouest France" />
          </a>
        </div>
        <div class="partner partner-small">
          <a href="https://www.facebook.com/pages/JAPANIM-RENNES/107800482584960">
            <img src="{{ asset('bundles/insalan/img/partenaires/japanim.jpg') }}" alt="Jap'Anim" />
          </a>
        </div>
      </div>
</div>

</section>
<br/><br/>
<section class="container">
  <section class="news">

    {% for n in news %}
      <article class="subsection">
        <aside>
          <div class="square">
            <a href="#body"><span></span></a>
          </div>
        </aside>

        <header>
            <h2>{{ n.title }}</h2>
          <span class="date">{{ n.createdAt | date('d/m/Y H:i') }}</span> -
          <span class="category">{{ n.category }}</span>
        </header>

        <section>
          {{ n.text | markdown }}
        </section>
      </article>
      {% endfor %}

      </section>
      <aside class="twitter">
            <a class="twitter-timeline"  href="https://twitter.com/insalan" data-widget-id="300559677375258624">Tweets de @insalan</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
        </aside>
        <br class="clear"/>
        
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
  //<![CDATA[
    window.addEvent('domready', function() {
      var carousel = $$('aside.carousel');
      for (var i = 0; i < carousel.length; ++i) {
        var links = carousel[i].getElements('.items a');
        links.activeId = 0;
        links.pause = false;

        carousel[i].addEvent('mouseenter', function() { links.pause = true; });
        carousel[i].addEvent('mouseleave', function() { links.pause = false; });

        links.each(function(e, j) {
          e.addEvent('click', function(ev) {
            e.getParent('.items').getElements('a').removeClass('active');
            this.addClass('active');

            var picture = e.getParent('aside.carousel').getElements('.picture');
            picture.setStyle('display', 'none');
            picture[j].setStyle('display', '');

            var title = e.getParent('aside.carousel').getElements('.title > div');
            title.setStyle('display', 'none');
            title[j].setStyle('display', '');

            var open = e.getParent('aside.carousel').getElements('.open > a');
            open.setStyle('display', 'none');
            open[j].setStyle('display', '');

            ev.stop();
            links.activeId = j;
          });
        });

        links.slideShow = window.setInterval(function() {
          if (links.pause) return;
          links.activeId = (links.activeId + 1) % links.length;
          links[links.activeId].click();
        }, 5000);
      }
    });
  //]]>
  </script>
{% endblock %}
