{% extends 'InsaLanNewsBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {{ parent() }}

  {#<img src="{{ asset('bundles/insalan/img/banner.png') }}"> #}
  <div class="grid-7 pull-left">
      <iframe width="700" height="394" src="//www.youtube.com/embed/WdpiNhS1TtA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="grid-3 pull-left">
      <div class="frame frame-active">
          <header class="full">
              <div class="title pull-left">LoL</div>
              <small class="pull-right">slots: 32<br>à gagner: ??? €</small>
            <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">CS:GO</div>

              <small class="pull-right">slots: 24<br>à gagner: ??? €</small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">StarCraft II</div>
              <small class="pull-right">slots: 64<br>à gagner: ??? €</small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">Dota 2</div>
              <small class="pull-right">slots: 12<br>à gagner: ??? €</small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">Hearthstone</div>
              <small class="pull-right">slots: 32<br>à gagner: ??? €</small>
              <br class="clear">
          </header>
          <header class="huge-button">
              <div class="title pull-left">
                  {% if app.user %}
                  <a href="{{ path('insalan_tournament_user_index') }}" style="display:block">MON COMPTE</a>
                  {% else %}
                  <a href="{{path('fos_user_registration_register') }}" style="display:block">INSCRIPTION</a>
                  {% endif %}
              </div>
              <br class="clear">
          </header>
          <section class="tournaments">
          </section>
      </div>
  </div>
  <br class="clear">
  <article>
      <header>
          <h2>Du 5 au 8 février 2015 à l'INSA Rennes</h2>
      </header>
  </article>
  </section>
<section class="highlight">
    <div class="container" style="text-align:center">
        <div class="grid-2-5 pull-left">
            <h1>JEUDI</h1>
            <div style="text-align: center">
                <strong>20h00 - 23h59</strong>
            </div>
            <div>
                Ouverture de la halle au public
                <br>Bornes d'arcades, jeux, quizz
            </div>
        </div>

        <div class="grid-2-5 pull-left">
            <h1>VENDREDI</h1>
            <div style="text-align: center">
                <strong>20h00 - 23h59</strong>
            </div>
            <div>
                Ouverture de la halle au public
                <br>Accueil des joueurs
                <br>Bornes d'arcades, jeux, quizz
            </div>
        </div>
        
        <div class="grid-2-5 pull-left">
            <h1>SAMEDI</h1>
            <div style="text-align: center">
                <strong>08h00 - 23h59</strong>
            </div>
            <div>
                Ouverture de la halle au public
                <br>Bornes d'arcades, jeux, quizz
            </div>
            <div style="text-align: center">
                <strong>10h30</strong>
            </div>
            <div>
                Cérémonie d'ouverture
            </div>
            <div style="text-align: center">
                <strong>11h00</strong>
            </div>
            <div>
                Début des 5 tournois officiels
            </div>
            <div style="text-align: center">
                <strong>15h30</strong>
            </div>
            <div>
                Cosplay sur la scène
            </div>
            <div style="text-align: center">
                <strong>17h30</strong>
            </div>
            <div>
                Tournoi sur scène
            </div>
        </div>
        
        <div class="grid-2-5 pull-left">
            <h1>DIMANCHE</h1>
        </div>
        <br class="clear">
    </div>
</section>
<section class="container">
  <section class="news">
    <h2>Actualités</h2>

    {% for n in news %}
      <article class="subsection">
        <aside>
          <div class="square">
            <a href="#body"><span></span></a>
          </div>
        </aside>

        <header>
          <h2>{{ n.title }}</h2>
          <span class="date">{{ n.createdAt | date('d/m/Y H:i') }}</span> -
          <span class="category">{{ n.category }}</span>
        </header>

        <section>
          {{ n.text | markdown }}
        </section>
      </article>
    {% endfor %}
  </section>

{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    window.addEvent('domready', function() {
      var carousel = $$('aside.carousel');
      for (var i = 0; i < carousel.length; ++i) {
        var links = carousel[i].getElements('.items a');
        links.activeId = 0;
        links.pause = false;

        carousel[i].addEvent('mouseenter', function() { links.pause = true; });
        carousel[i].addEvent('mouseleave', function() { links.pause = false; });

        links.each(function(e, j) {
          e.addEvent('click', function(ev) {
            e.getParent('.items').getElements('a').removeClass('active');
            this.addClass('active');

            var picture = e.getParent('aside.carousel').getElements('.picture');
            picture.setStyle('display', 'none');
            picture[j].setStyle('display', '');

            var title = e.getParent('aside.carousel').getElements('.title > div');
            title.setStyle('display', 'none');
            title[j].setStyle('display', '');

            var open = e.getParent('aside.carousel').getElements('.open > a');
            open.setStyle('display', 'none');
            open[j].setStyle('display', '');

            ev.stop();
            links.activeId = j;
          });
        });

        links.slideShow = window.setInterval(function() {
          if (links.pause) return;
          links.activeId = (links.activeId + 1) % links.length;
          links[links.activeId].click();
        }, 5000);
      }
    });
  </script>
{% endblock %}
