{% extends 'InsaLanNewsBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block rawbody %}
  {{ parent() }}
<div class="background-container">
<section class="container">

  <article>
    <div class="img-center">
      {#
      <a href="{{ path('insalan_rsc_default_index') }}">
        <img width="800" align-self="center" src="{{ asset('bundles/insalanrsc/img/RSC-banner.png') }}" />
      </a>
      #}
      <img width=80% src="{{ asset('bundles/insalan/img/logo-noyear-wide.png') }}" />
    </div>
  </article>

{#
  <div class="grid-7 pull-left">
    <img class="frame" width="700" align-self="center" src="{{ asset('bundles/insalan/img/banner-2019.png') }}" />
    <iframe width="700" height="437" src="https://www.youtube.com/embed/_a-zRFnW-bc" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="grid-3 pull-left">
    <div class="frame frame-active">
      <header class="full">
        <div class="title pull-left">LoL</div>

        <small class="pull-right">
          24 slots
          <br>
          <strong>1 700€</strong>
        </small>
        <br class="clear">
      </header>
      <header class="full">
        <div class="title pull-left">CS:GO</div>
              <small class="pull-right">
                  24 slots
                  <br>
                  <strong>1 700€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">Fortnite</div>
              <small class="pull-right">
                  28 slots
                  <br>
                  <strong>1 600€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title pull-left">Hearthstone</div>
              <small class="pull-right">
                  32 slots
                  <br>
                  <strong>700€</strong>
              </small>
              <br class="clear">
          </header>
          <header class="full">
              <div class="title text-center">Baston</div>
              <small class="pull-left">
                  SFV / SC6
                  <br>
                  64 slots
                  <br>
                  <strong>500€</strong>
              </small>
              <small class="pull-right">
                  Smash Bros
                  <br>
                  64 slots
                  <br>
                  <strong>550€</strong>
              </small>
              <br class="clear">
              <br class="clear">
          </header>
          <header class="huge-button">
              <div class="title pull-left">
                  {% if app.user %}
                  <a href="{{ path('insalan_tournament_user_index') }}" style="display:block">MON COMPTE</a>
                  {% else %}
                  <a href="{{path('fos_user_registration_register') }}" style="display:block">INSCRIPTION</a>
                  {% endif %}
              </div>
              <br class="clear">
          </header>
          <section class="tournaments">
          </section>
      </div>
  </div>
#}

  <div class="schedule">
    <div class="edition">
      <h2>Édition</h2>
      <h1>{{ globalVars.romanNumber }}</h1>
    </div>
    <div>
      <div class="square">
        <a href="">
          <span></span>
        </a>
      </div>
    </div>
    <div>
      <h1>Du {{ globalVars.fullDates }} à l'INSA Rennes</h2>
      <h3>
        20 avenue des buttes de Coësmes, 35708 Rennes - Arrêt Beaulieu Restau U (ligne 4, 31 et 32)
      <h3>
    </div>
  </div>

  <div class="huge-container">
    <a href="{{ path('insalan_tournament_user_index') }}" class="btn2">Inscription</a>
  </div>
</section>
</div>

<section class="highlightBox">
  <div class="container" style="text-align:center">
    <h1 style="font-size:40px">COSPLAY, RETROGAMING, MATCHS COMMENTÉS</h1>
    <br/><hr/><br/>
    <p>Entrée gratuite pour les visiteurs le vendredi, samedi et dimanche aux horaires indiqués. L'inscription aux tournois officiels est payante.</p>
    <br/>

    <ul>
      <li>
        <h1>VENDREDI</h1>
        <div style="text-align: center">
          <strong>20h00 - 00h00</strong>
        </div>
        <br>
        <ul>
          <li>Ouverture de la halle au public</li>
          <li>Accueil des joueurs</li>
          <li>Bornes d'arcade, jeux rétro</li>
        </ul> 
      </li>

      <li>
        <h1>SAMEDI</h1>
        <div style="text-align: center">
          <strong>09h00 - 00h00</strong>
        </div>
        <br>
        <ul>
          <li>Cérémonie d'ouverture</li>
          <li>Début des tournois officiels</li>
          <li>Concours cosplay</li>
        </ul> 
      </li>

      <li>
        <h1>DIMANCHE</h1>
        <div style="text-align: center">
          <strong>09h00 - 20h00</strong>
        </div>
        <br>
        <ul>
          <li>Poursuite des tournois</li>
          <li>Finales sur scène</li>
          <li>Cérémonie de cloture</li>
        </ul> 
      </li>
    </ul>
  </div>

  <div class="container">
    <h2>L'InsaLan n'est possible que grâce au soutien de nos partenaires :</h2>
    <div class="partner-display">
      <h3>Sponsors de l'événement :</h3>
      <div>
        <div>
          <a href="https://www.capgemini.com">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/capgemini.png') }}" alt="Noctua"/>
              <h4>Capgemini</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.noctua.at">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/noctua.jpg') }}" alt="Noctua"/>
              <h4>Noctua</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://scoup-esport.fr/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/scoup-esport.png') }}" alt="Scoup Esport"/>
              <h4>Scoup Esport</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.feed.co">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/feed.png') }}" alt="Feed"/>
              <h4>Feed</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.staderennais.com/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/stade-rennais.png') }}" alt="Stade Rennais"/>
              <h4>Stade Rennais</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.modjo-escalade.fr/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/modjo.jpg') }}" alt="Modjo Rennes" />
              <h4>Modjo Rennes</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://virtualgame.fr/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/virtual-game.png') }}" alt="Virtual Games Rennes" />
              <h4>Virtual Games Rennes</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.lasergame-evolution.com/fr/61/Rennes/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/lge.png') }}" alt="Laser Game Evolution" />
              <h4>Laser Game Evolution</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.leblizz.com/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/leblizz.png') }}" alt="Le Blizz" />
              <h4>Le Blizz</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/Club3DINSARennes/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/club3d.png') }}" alt="Club 3D" />
              <h4>Club 3D</h4>
            </div>
          </a>
        </div>
      </div>
    </div> 

    <div class="partner-display">
      <h3>Partenaires institutionnels :</h3>
      <div>
        <div>
          <a href="http://www.rennes.fr">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/vdr.png') }}" alt="Ville de Rennes"/>
              <h4>Ville de Rennes</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.societegenerale.fr">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/soge.png') }}" alt="Société Générale"/>
              <h4>Société Générale</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.nrj.fr/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/nrj-rennes.png') }}" alt="NRJ Rennes"/>
              <h4>NRJ Rennes</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.univ-rennes1.fr">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/rennes1.png') }}" alt="Université de Rennes 1"/>
              <h4>Université de Rennes 1</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.breizhloc.fr">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/breizhloc.png') }}" alt="Breizh'Loc"/>
              <h4>Breizh'Loc</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://pizza.dominos.fr">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/dominos.png') }}" alt="Domino's"/>
              <h4>Domino's</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.accrochenet.com">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/accro.png') }}" alt="Accroche Net"/>
              <h4>Accroche Net</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="partner-display">
      <h3>Partenaires de l'association :</h3>
      <div>
        <div>
          <a href="http://www.3hitcombo.fr/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/3hit.png') }}" alt="3Hit Combo" />
              <h4>3Hit Combo</h4>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/WarpZoneRennes">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/warpzone.png') }}" alt="Warp Zone" />
              <h4>Warp Zone</h4>
            </div>
          </a>
        </div>
        <div>
           <a href="https://www.quantic-telecom.net/">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/quantic-telecom.png') }}" alt="Quantic Telecom" />
              <h4>Quantic Telecom</h4>
            </div>
           </a>
        </div>
        <div>
           <a href="https://discord.gg/368Gxzc">
            <div>
              <img src="{{ asset('bundles/insalan/img/partners-preview/la-confrerie.png') }}" alt="La confrérie" />
              <h4>Lᴀ CᴏɴFʀᴇ́ʀɪᴇ</h4>
            </div>
           </a>
        </div>
      </div>
    </div>
  </div>
</section>

</section>
<section class="container">
  <section class="news">

    {% for n in news %}
      <article class="subsection">
        <aside>
          <div class="square">
            <a href="#body"><span></span></a>
          </div>
        </aside>

        <header>
          <h2>{{ n.title }}</h2>
          <span class="date">{{ n.createdAt | date('d/m/Y H:i') }}</span> -
          <span class="category">{{ n.category }}</span>
        </header>

        <section>
          {{ n.text | markdown }}
        </section>
      </article>
      {% endfor %}

    </section>
    <aside class="twitter">
      <a class="twitter-timeline"  href="https://twitter.com/insalan" data-widget-id="300559677375258624">Tweets de @insalan</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
  <br class="clear"/>
  </section>
<div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
  //<![CDATA[
    window.addEvent('domready', function() {
      var carousel = $$('aside.carousel');
      for (var i = 0; i < carousel.length; ++i) {
        var links = carousel[i].getElements('.items a');
        links.activeId = 0;
        links.pause = false;

        carousel[i].addEvent('mouseenter', function() { links.pause = true; });
        carousel[i].addEvent('mouseleave', function() { links.pause = false; });

        links.each(function(e, j) {
          e.addEvent('click', function(ev) {
            e.getParent('.items').getElements('a').removeClass('active');
            this.addClass('active');

            var picture = e.getParent('aside.carousel').getElements('.picture');
            picture.setStyle('display', 'none');
            picture[j].setStyle('display', '');

            var title = e.getParent('aside.carousel').getElements('.title > div');
            title.setStyle('display', 'none');
            title[j].setStyle('display', '');

            var open = e.getParent('aside.carousel').getElements('.open > a');
            open.setStyle('display', 'none');
            open[j].setStyle('display', '');

            ev.stop();
            links.activeId = j;
          });
        });

        links.slideShow = window.setInterval(function() {
          if (links.pause) return;
          links.activeId = (links.activeId + 1) % links.length;
          links[links.activeId].click();
        }, 5000);
      }
    });
  //]]>
  </script>
{% endblock %}
