{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

{# <img src="{{ asset('bundles/insalan/img/cosplay.png') }}" width="1000"/> #}

<article id="asso" class="info">
    <aside>
        <div class="square">
            <a href="#body"><span></span></a>
        </div>
    </aside>

    <header>
        <h2>Le concours Cosplay de l'InsaLan, 2ème édition !</h2>
    </header>

    <section>
        <p>
            Le concours se déroulera à partir de <em>15h30, le samedi 6 février 2016.</em> Pour toute question, vous pouvez nous contacter via Facebook ou par mail à l’adresse <a href="mailto:cosplay@insalan.fr">cosplay@insalan.fr</a>.
        </p>

        <h3 style="text-align: center">Les inscriptions ouvriront bientôt !</h3>
    </section>
</article>

{#
<article id="asso" class="info">
    <aside>
        <div class="square">
            <a href="#body"><span></span></a>
        </div>
    </aside>

    <header>
        <h2>Comment participer ?</h2>
    </header>

    <section>
        <p>
            <ol class="shift">
                <li>Lire et accepter le <strong><a href="{{ asset('bundles/insalan/pdf/reglement.pdf') }}" target="_blank" >[règlement &#x25BE;]</a></strong></li>
                <li>Télécharger et remplir la fiche d'inscription adaptée : 
                    <strong><a href="{{ asset('bundles/insalan/pdf/inscription-cosplay.pdf') }}" target="_blank" >[individuelle &#x25BE;]</a></strong> 
                    <strong><a href="{{ asset('bundles/insalan/pdf/inscription-cosplay-groupe.pdf') }}" target="_blank" >[groupe &#x25BE;]</a></strong>
                </li>
                <li>Pour les mineurs : télécharger et remplir <strong><a href="{{ asset('bundles/insalan/pdf/autorisation-parental.pdf') }}" target="_blank" >[l'autorisation parentale &#x25BE;]</a></strong></li>
                <li>Joindre une image du personnage cosplayé correspondant exactement au cosplay réalisé, ainsi que le fichier mp3 ou mp4 de sa prestation</li>
                <li>Signer le ou les documents (imprimer, signer, scanner ou via une tablette graphique ou directement le jour de l'évènement)</li>
                <li>Envoyer votre dossier (si possible en PDF) à <a href="mailto:cosplay@insalan.fr">cosplay@insalan.fr</a></li>
            </ol>
        </p>
        <p>
            <em>Un problème ? Une question ? Envoyez nous un mail à <a href="mailto:cosplay@insalan.fr">cosplay@insalan.fr</a></em>
        </p>
    </section>
</article>
<hr/>
#}



{% endblock %}
