{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article style="background-color: #000; padding: 10px;" class="partner">
  <div class="grid-2 pull-left">
  <a href="http://www.insa-rennes.fr">
    <img style="vertical-align:middle" src="{{ asset('bundles/insalan/img/partenaires/insa-rennes.png') }}">
  </a>
  </div>

  <!-- <div class="grid-2 pull-left">
  <a href="http://www.qpad.com">
    <img src="{{ asset('bundles/insalan/img/partenaires/qpad.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.roccat.org">
    <img src="{{ asset('bundles/insalan/img/partenaires/roccat.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.razerzone.com">
    <img src="{{ asset('bundles/insalan/img/partenaires/razer.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.speedlink.com">
    <img src="{{ asset('bundles/insalan/img/partenaires/speedlink.png') }}">
  </a>
  </div>-->

  <br class="clear">
  <br>

  <!-- <div class="grid-2 pull-left">
  <a href="http://www.noctua.at">
    <img src="{{ asset('bundles/insalan/img/partenaires/noctua.jpg') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.coolink-europe.com/">
    <img style="background-color:#fff; padding: 5px" src="{{ asset('bundles/insalan/img/partenaires/coolink.png') }}">
  </a>
  </div> -->

  <div class="grid-2 pull-left">
  <a href="http://www.star.fr">
    <img src="{{ asset('bundles/insalan/img/partenaires/star.jpg') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.pizzasprint.com/pizza-sprint-rennes-centre-st-helier">
    <img src="{{ asset('bundles/insalan/img/partenaires/pizzasprint.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.canardpc.com">
    <img style="background-color:#fff; padding: 5px" src="{{ asset('bundles/insalan/img/partenaires/canardpc.png') }}">
  </a>
  </div>

  <br class="clear">
  <br>
  
  <div class="grid-2 pull-left">
  <a href="http://www.3hitcombo.fr">
    <img src="{{ asset('bundles/insalan/img/partenaires/3hit.jpg') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.buykey.fr">
    <img src="{{ asset('bundles/insalan/img/partenaires/buykey.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.campanile.fr">
    <img style="background-color:#fff; padding: 5px" src="{{ asset('bundles/insalan/img/partenaires/campanile.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.rennes.fr">
    <img style="background-color:#fff; padding: 5px" src="{{ asset('bundles/insalan/img/partenaires/vdr.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://www.breizhloc.fr">
    <img src="{{ asset('bundles/insalan/img/partenaires/breizhloc.png') }}">
  </a>
  </div>
  
  <br class="clear">
  <br>

  <div class="grid-2 pull-left">
  <a href="http://www.societegenerale.fr">
    <img src="{{ asset('bundles/insalan/img/partenaires/sogé.png') }}">
  </a>
  </div>

  <div class="grid-2 pull-left">
  <a href="http://aeir.asso.insa-rennes.fr">
    <img src="{{ asset('bundles/insalan/img/partenaires/aeir.png') }}">
  </a>
  </div>

  <br class="clear">
</article>
{% endblock %}
