{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/archives.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}


<div class="previous-years-list">
          <div class="previous-years">
            <a href="{{ path('insalan_archives_default_previousyear', {year: 2018}) }}">
              <img src="{{ asset('bundles/insalan/img/InsaLan_12.jpg') }}" alt="InsaLan XII" />
            </a>
          </div>
          <div class="previous-years">
            <a href="{{ path('insalan_archives_default_previousyear', {year: 2016}) }}">
              <img src="{{ asset('bundles/insalan/img/InsaLan_11.jpg') }}" alt="InsaLan XI" />
            </a>
          </div>
</div>


{% endblock %}
