{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  {% stylesheets 'bundles/insalan/css/archives.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<header>
  <h1 class="text-center" style="font-size:40px; margin-top: 18px">{{edition.name}}</h1>
  <h2 class="text-center">Année {{edition.year}}</h2>
</header>

<br class="clear"/><hr/><br/>


{% if poster is defined %}
<section>
  <div class="previous-years-list">
    <div class="previous-years">
      <img src="{{ asset('bundles/insalan/img/')  ~ poster}}" alt="{{edition.name}}" />
    </div>
  </div>
</section>
{% endif %}

{% if trailer is defined %}
<article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Trailer</h2>
  </header>

  <section>
    <div>
      <div class="youtubecustom" data-url="{{ trailer }}" width="700" height="437" autoplay="0"></div>
    </div>
  </section>
</article>

<br class="clear"/><hr/><br/>
{% endif %}

{% if aftermovie is defined %}
<article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

    <header>
      <h2>Aftermovie</h2>
    </header>

    <section>
    <div>
      <div class="youtube_player" videoID="{{ aftermovie }}" width="700" height="437" autoplay="0"></div>
    </div>
  </section>
</article>

<br class="clear"/><hr/><br/>
{% endif %}


{% if old_tournaments is not empty %}
<article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Tournois</h2>
  </header>

  <section>
    {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': old_tournaments} %}
  </section>
</article>

<br class="clear"/><hr/><br/>
{% endif %}

{% if picturesAlbum is not empty %}
<article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Photos</h2>
  </header>

  <section>
    <div class="album-list ">
      {% for a in picturesAlbum %}
      <a class="btn2 btn2-nocolor" href="{{ a.url }}">{{ a.name }}</a>
      {% endfor %}
    </div>

  </section>
</article>

<br class="clear"/><hr/><br/>

{% endif %}

{% if streamsAlbum is not empty %}
<article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Streams</h2>
  </header>

  <section>
    <div class="album-list ">
      {% for a in streamsAlbum %}
      {% if a.album != ""%}
      <a class="btn2 btn2-nocolor" href="{{ path('archives_streams', {'edition': edition.id, 'album': a.album, 'page': 1}) }}">{{ a.album }}</a>
      {% endif %}
      {% endfor %}
    </div>

  </section>
</article>
{% endif %}

{% endblock %}
