{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/archives.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
    <header>
      <h2>Année {{year}}</h2>
    </header>

  <section>
    <header>
      <h2>Tournois</h2>
    </header>
    {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': old_tournaments} %}
  </section>

  <section>
    <header>
      <h2>Photos</h2>
    </header>
    <div class="picture-list "> 
      {% for p in pictures %}
   
              <div class="picture">
               <a href="{{ asset(p.getUploadDir() ~ p.path)  }}" target="_blank">
               <img src="{{ asset(p.getUploadDir() ~ p.path)  }}" alt="{{ p.name }}"/>
              </div>
      {% endfor %}
    </div>



  </section>

  <section>
    <header>
      <h2>Streams</h2>
    </header>

  <div class="picture-list ">

      {% for s in streams %}
            <div>
              <iframe width="854" height="480" src="{{ s.url }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>

      {% endfor %}
  </div>

  </section>
</article>
{% endblock %}
