{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/insalan/css/archives.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Année {{year}}</h2>
  </header>

  {% if poster is defined %}
  <section>
    <div class="previous-years-list">
      <div class="previous-years">
        <img src="{{ asset('bundles/insalan/img/')  ~ poster}}" alt="InsaLan {{year}}" />
      </div>
    </div>
  </section>
  {% endif %}

  {% if trailer is defined %}
  <section>
    <header>
      <h2>Trailer</h2>
    </header>
    <div>
      <iframe width="700" height="437" src="{{ trailer }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  {% endif %}

  {% if aftermovie is defined %}
  <section>
    <header>
      <h2>Aftermovie</h2>
    </header>
    <div>
      <iframe width="700" height="437" src="{{ aftermovie }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  {% endif %}

  {% if old_tournaments is not empty %}
  <section>
    <header>
      <h2>Tournois</h2>
    </header>
    {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': old_tournaments} %}
  </section>
  {% endif %}

  {% if picturesAlbum is not empty %}
  <section>
    <header>
      <h2>Photos</h2>
    </header>
    <ul class="album-list ">
      {% for a in picturesAlbum %}
      {% if a.album != ""%}
      <li><a href="{{ path('archives_pictures', {'year': year, 'album': a.album}) }}">{{ a.album }}</a></li>
      {% endif %}

      {% endfor %}
    </ul>


    {% endif %}

    {% if streams is not empty %}
    <section>
      <header>
        <h2>Streams</h2>
      </header>

      <div class="picture-list ">

        {% for s in streams %}
        <div>
          <iframe width="854" height="480" src="{{ s.url }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        {% endfor %}
      </div>

    </section>
    {% endif %}

  </article>
{% endblock %}
