{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/archives.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}


<h1>Année {{year}}</h1>

<article>
  <header>
    <h2>Tournois</h2>
  </header>
  {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': old_tournaments} %}
</article>

<article>
  <header>
    <h2>Photos</h2>
  </header>
    {% include 'InsaLanArchivesBundle:Part:pictureList.html.twig' with {'picture': pictures} %}
    


</article>

<article>
  <header>
    <h2>Streams</h2>
  </header>

</article>
{% endblock %}
