{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/insalan/css/archives.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<header>
  <h1 style="text-align:center; font-size:40px; margin-top: 18px">Année {{year}}</h1>
</header>

<br/><hr/><br/>

{% if pictures is not empty %}
<article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Photos</h2>
  </header>

  <section>
    <div class="picture-list ">
      {% for p in pictures %}

      <div class="picture">
        <a href="{{ asset(p.getUploadDir() ~ p.path)  }}" target="_blank">
          <img src="{{ asset(p.getUploadDir() ~ p.path)  }}" alt="{{ p.name }}"/>
        </div>
        {% endfor %}
      </div>
    </section>
  </article>
  {% endif %}

{% endblock %}
