{% extends 'InsaLanAdminBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <article>
      <header>
        <h2>Billets envoyés</h2>
      </header>

      <section>
        <div class="input" style="margin-left: 20px;">
          <input type="text" id="inputFilter" onkeyup="filters()" placeholder="Filtrer...">
        </div>
        <table class="grid-9">
          <thead>
            <tr>
              <th class="grid-1">N&#186;</th>
              <th class="grid-3">Nom Prénom</th>
              <th class="grid-2">Tournoi</th>
              <th class="grid-3">Actions</th>
            </tr>
          </thead>
          <tbody id="tbodyToFilter">
            {% for eTicket in eTickets %}
              <tr>
                <td>
                  {{ eTicket.id }}
                </td>
                <td>
                  {% if eTicket.user is not null %}
                    {{ eTicket.user.lastname }} {{ eTicket.user.firstname}}
                  {% endif %}
                </td>
                <td>
                  {{ eTicket.tournament.name }}
                </td>
                <td>
                  <form action="{{ path('insalan_ticketing_admin_downloadeticket') }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('download' ~ eTicket.id)}}">
                    <input type="hidden" name="eticket" value="{{ eTicket.id }}">
                    <button type="submit" class="btn-plain">Télécharger billet</button>
                  </form>
                  <form action="{{ path('insalan_ticketing_admin_removeeticket') }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ eTicket.id)}}">
                    <input type="hidden" name="eticket" value="{{ eTicket.id }}">
                    <button type="submit" class="btn-delete">Annuler billet</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </article>
{% endblock %}

{% block javascripts %}
  <script>
  function filters() {
    // Declare variables
    var input, filter, table, tbody, tr, td, i, j, txtValue, txtFound;
    input = document.getElementById("inputFilter");
    filter = input.value.toUpperCase();
    tbody = document.getElementById("tbodyToFilter");
    tr = tbody.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      txtFound = 0;
      // We filter only on the 3 first columns
      for (j = 0; j < 3; j++) {
        td = tr[i].getElementsByTagName("td")[j];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            txtFound = 1;
          }
        }
      }
      if (txtFound == 1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  </script>
{% endblock %}
