{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Gestion des Tournois</h2>
  </header>

  <section>
    {{ form_start(form, {attr:{'class':'oneline'}}) }}
      {{ form_errors(form) }}
      {{ form_row(form.tournament) }}
      <div class="input left">
        <input type="submit" value="&rarr;"/>
      </div>
    {{ form_end(form) }}
  </section>

</article>

{% if tournament %}
  {#<hr style="margin: 20px 0px;"/>
  <section class="groups">
    <h2>Poules</h2>
    {% for s in stages %}
      <h3>{{ s.name }}</h3>
    {% endfor %}
  </section>#}

  <hr style="margin: 20px 0px;"/>
  <section class="knockouts">
    <h2>Arbres</h2>
    {% for ko in knockouts %}
      <h3>{{ ko.name }}</h3>
    {% endfor %}

    {{ form_start(formKo) }}
      {{ form_errors(formKo) }}
      {{ form_row(formKo.name) }}
      {{ form_row(formKo.size) }}
      <div class="input left">
        <input type="submit" id="_submit" name="_submit" value="Ajouter" />
      </div>
    {{ form_end(formKo) }}

  </section>
{% endif %}

{% endblock %}
