{% extends 'InsaLanTournamentBundle::Admin/layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Gestion des Tournois</h2>
  </header>

  <section>
    {{ form_start(form, {attr:{'class':'oneline'}}) }}
      {{ form_errors(form) }}
      {{ form_row(form.tournament) }}
      <div class="input left">
        <input type="submit" value="&rarr;"/>
      </div>
    {{ form_end(form) }}
  </section>

</article>

{% if tournament %}
  <hr style="margin: 20px 0px;"/>
  <section class="grid-5 pull-left">
    <section class="groups">
      <h2>Poules</h2>
      <ul style="margin-left: 30px">
      {% for s in stages %}
        <li><a href="{{ path('insalan_tournament_admin_stage', {id: s.id}) }}">{{ s.name }}</a></li>
      {% endfor %}
      </ul>
    </section>

    <div class="clear"></div>

    <section class="knockouts">
      <h2>Arbres</h2>
      <ul style="margin-left: 30px">
      {% for ko in knockouts %}
        <li><a href="{{ path('insalan_tournament_admin_knockout', {id: ko.id}) }}">{{ ko.name }}</a></li>
      {% endfor %}
      </ul>

      <h2 style="margin-top:20px">Nouvel arbre</h2>

      {{ form_start(formKo) }}
        {{ form_errors(formKo) }}
        {{ form_row(formKo.name) }}
        {{ form_row(formKo.size) }}
        {{ form_row(formKo.double) }}
        <div class="input left">
          <input type="submit" id="_submit" name="_submit" value="Ajouter" />
        </div>
      {{ form_end(formKo) }}

    </section>
  </section>
  <section class="grid-5 pull-left">
    <table style="width:100%">
      <tr>
        <th class="grid-3">Pseudo / Nom</th>
        <th class="grid-3">Equipe</th>
        <th class="grid-2">Payé</th>
        <th class="grid-2">Arrivé</th>
      </tr>
      {% for player in players %}
        <tr>
          <td>{{ player.gameName }}
            {% if player.user %}
            <br /><span style="font-size:10px; color: grey;">{{ player.user.firstname }} {{ player.user.lastname}}</span>
            {% endif %}
          </td>
          <td>
            {% if player.team | length > 0 %}
              {{ player.team[0].name }}
            {% else %}
              (solo)
            {% endif %}
          </td>
          <td>
            <form method="POST" action="{{ path('insalan_tournament_admin_player_tooglepayment', { t: tournament.id, p: player.id }) }}">
              <input {% if not player.paymentDone %}class="darkButton"{% endif %} type="submit" value="{% if player.paymentDone %}OUI{% else %}NON{% endif %}"/>
            </form>
          </td>
          <td>
            <form method="POST" action="{{ path('insalan_tournament_admin_player_tooglearrived', { t: tournament.id, p: player.id }) }}">
              <input {% if not player.arrived %}class="darkButton"{% endif %} type="submit" value="{% if player.arrived %}OUI{% else %}NON{% endif %}"/>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </section>
{% endif %}

{% endblock %}
