{% extends 'InsaLanTournamentBundle::Admin/layout.html.twig' %}


{% block body %}
{{ parent() }}

<article>

  <header>
    <h2>{{ knockout.name }} - {{ knockout.tournament.name }}</h2>
    <a href="{{ path("insalan_tournament_admin_knockout", {id: knockout.id }) }}"><<< Retour</a>
  </header>

  <div id="bracketContainer">
  </div>

  <div class="clear"></div>

</article>

<article>

  <h3>Initialiser les participants de l'arbre :</h3>
  <i>Attention, à ne faire qu'au début du tournois si possible.</i>

  <br />

  <form method="POST" action="{{ path('insalan_tournament_admin_knockout_view', {id: knockout.id}) }}">
    {% for i in 1..children %}
      Participant {{i}} : 
      <select name="participant_{{i}}" id="participant_{{i}}">
        {% for id,name in participants %}
          <option value='{{id}}'>{{name}}</option>
        {% endfor %}
      </select>
      <br />
    {% endfor %}
    <input type="submit" value="Initialiser"/>
  </form>
</article>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
(function($) {

    var data = {{ knockout.jsonData|raw }};

    $('#bracketContainer').bracket({
      init: data,
      skipSecondaryFinal: true,
      skipConsolationRound: true,
    });
})(jQuery);



</script>

{% endblock %}