{% extends 'Admin/adminLayout.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Billets à envoyer</h2>
  </header>

  <section>
    <div class="input" style="margin-left: 20px;">
      <input type="text" id="inputFilter" onkeyup="filters()" placeholder="Filtrer...">
    </div>
    <table class="grid-9">
      <thead>
        <tr>
          <th class="grid-2">Pseudo</th>
          <th class="grid-3">Nom Prénom</th>
          <th class="grid-2">Equipe</th>
          <th class="grid-1">Tournoi</th>
          <th class="grid-3">Action</th>
        </tr>
      </thead>
      <tbody id="tbodyToFilter">
        {% for player in players %}
        <tr>
          <td>
            {{ player.gameName }}
          </td>
          <td>
            {% if player.user is not null %}
              {{ player.user.lastname }} {{ player.user.firstname}}
            {% endif %}
          </td>
          <td>
            {% set solo = not (player.team | length > 0) %}
            {% if not solo %}
              {{ player.team[0].name }}
            {% else %}
              (solo)
            {% endif %}
          </td>
          <td>
            {% if not solo %}
              {{ player.pendingRegistrable }}
            {% else %}
              {{ player.tournament }}
            {% endif %}
          </td>
          <td>
            <form action="{{ path('app_ticketing_admin_sendeticket') }}" method="post">
              <input type="hidden" name="_token" value="{{ csrf_token('send' ~ player.id)}}">
              <input type="hidden" name="player" value="{{ player.id }}">
              <button type="submit" class="btn-plain">Envoyer billet</button>
            </form>
          </td>
        </tr>
        {% endfor %}

        {% for m in managers %}
        <tr>
          <td>
            {{ m.gameName }}
          </td>
          <td>
            {% if m.user is not null %}
              {{ m.user.lastname }} {{ m.user.firstname}}
            {% endif %}
          </td>
          <td>
            {{ m.participant }} (manager)
          </td>
          <td>
            {{ m.tournament }}
          </td>
          <td>
            <form action="{{ path('app_ticketing_admin_sendeticket') }}" method="post">
              <input type="hidden" name="_token" value="{{ csrf_token('send' ~ m.id)}}">
              <input type="hidden" name="manager" value="{{ m.id }}">
              <button type="submit" class="btn-plain">Envoyer billet</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</article>
{% endblock %}

{% block javascripts %}
<script>
function filters() {
  // Declare variables
  var input, filter, table, tbody, tr, td, i, j, txtValue, txtFound;
  input = document.getElementById("inputFilter");
  filter = input.value.toUpperCase();
  tbody = document.getElementById("tbodyToFilter");
  tr = tbody.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    txtFound = 0;
    // We filter only on the 4 first columns
    for (j = 0; j < 4; j++) {
      td = tr[i].getElementsByTagName("td")[j];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          txtFound = 1;
        }
      }
    }
    if (txtFound == 1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}
