{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}


{% block body %}
{{ parent() }}

<article>
  <header><h2>Modifier une poule</h2></header>
  <section class="matches">
    <h3>Poule</h3>
    <table>
      <caption>{{ group.name }}</caption>
      {% for p in group.participants %}
      <tr>
        <td>
          <a class="delete" href="{{
            path('insalan_tournament_admin_group_deleteparticipant',
              {group: group.id, participant: p.id}) }}" onclick="return confirm('Supprimer ce participant ?')">x
          </a>
          {{ p.name }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>

  <section class="actions">
    <h3 class="blue">Actions</h3>
    <section>
      {{ form_start(form, {attr: {'class':'oneline'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.participant) }}
        <div class="input left">
          <input type="submit" value="Ajouter"/>
        </div>
      {{ form_end(form) }}
    </section>
  </section>
</article>

<article class="clear">
  <style scoped="scoped">
    td, th {
      padding: 3px;
    }
    th {
      padding: 5px;
      text-align: center;
      font-weight: bold;
      color: white;
      border-bottom: 1px solid #393939;
    }
    td a {
      color: white;
    }
    td a:hover {
      color: #00BFF3;
    }
  </style>

  <header><h3>Matchs</h3></header>
  <section>
    <table>
      <caption>Liste</caption>
      <tr>
        <td>P1</td>
        <td>P2</td>
        <td><a href="#">Créer</a></td>
      </tr>

      <tr>
        <td>P1</td>
        <td>P2</td>
        <td><a href="#">0 - 2</a></td>
      </tr>
    </table>
  </section>

  <section>
    <table>
      <caption>Rounds</caption>
      <tr>
        <th>P1</th>
        <th>P2</th>
        <th>Replay</th>
        <th>Actions</th>
      </tr>

      <tr>
        <td>Victoire</td>
        <td>Défaite</td>
        <td><a href="#">Oui</a></td>
        <td><a href="#">Modifier</a></td>
      </tr>
    </table>
  </section>
</article>
{% endblock %}
