{% extends 'InsaLanTournamentBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.tournamentSlotPlacement {
  position: absolute;
  border: 1px solid black;
  color: white;
  height: 21px;
  width: 21px;
}
.tournamentSlotPlacementAvailable {
  cursor: pointer;
}
.tournamentSlotPlacementAvailable:hover {
  opacity: 0.8;
}
</style>
{% endblock %}

{% block body %}
{{ parent() }}
<a href="{{ path("insalan_tournament_admin_index_1", {id: tournament.id}) }}"><<< Retour</a> 

<article>
  <header>
    <h2>Placement - {{ tournament.name }}</h2>
  </header>
</article>
<div class="grid-10">
<div class="grid-8 pull-left" style="position:relative; margin-height: 50px; height: 600px; width: 900px; margin-top: 20px">
  {% for s in structure %}

    {% set color = "#1A1A1A" %}
    {% set available = false %}

    {% if s[0] == tournament.shortName %}
      {% set color = "#00bff3" %}
      {% if unavailable[s[1]] is defined %}
        {% set color = "#00475B" %}
      {% else %}
        {% set available = true %}
      {% endif %}
    {% endif %}
    <div class="tournamentSlotPlacement{% if available %} tournamentSlotPlacementAvailable{% endif %}" style="background-color: {{ color }}; height:{{ 23*s[5]-2 }}px; width:{{  23*s[4]-2 }}px; top: {{ 23*s[3] }}px; left: {{ 23*s[2] }}px;" {% if available %}onclick="window.location='placement?placement={{ s[1] }}'"{% endif %}>{% if s[0] == tournament.shortName %}{{ s[1] }}{% endif %}</div>
  {% endfor %}

  <div class="tournamentSlotPlacement" style="background-color: #00bff3; top: {{ 28*15 }}px; left: {{ 23*13 }}px;"></div>
  <div class="tournamentSlotPlacement" style="background-color: #00475B; top: {{ 28*16 }}px; left: {{ 23*13 }}px;"></div>
  <div class="tournamentSlotPlacement" style="background-color: #1A1A1A; top: {{ 28*17 }}px; left: {{ 23*13 }}px;"></div>

  <div class="tournamentSlotPlacement" style="background-color: black; top: {{ 28*15 }}px; left: {{ 23*14 }}px; width: 100px"> &nbsp; Disponible</div>
  <div class="tournamentSlotPlacement" style="background-color: black; top: {{ 28*16 }}px; left: {{ 23*14 }}px; width: 100px"> &nbsp; Occupé</div>
  <div class="tournamentSlotPlacement" style="background-color: black; top: {{ 28*17 }}px; left: {{ 23*14 }}px; width: 100px"> &nbsp; Autre tournoi</div>
</div>

  <section class="grid-2 pull-left">
    <table style="width:100%">
      <tr>
        <th class="grid-3">Equipe</th>
        <th class="grid-2">Place</th>
      </tr>
      {% for participant in participants %}
        <tr>
          <td>
            {% if participant.gameName is defined %}
              {{ participant.gameName }}
            {% else %}
              {{ participant.name }}
            {% endif %}
          </td>
          <td>
              {{ participant.placement }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </section>
</div>
{% endblock %}
