<aside class="groups">
  <header>
    <h3>Poules</h3>
  </header>{% for i in 1..3%}
{% for g in groups %}
  <table data-gid="{{ g.id }}">
    <caption>{{ g.name }}</caption>
      {% for p in g.participants %}
      <tr>
        <td>{{ p.participant.name }}</td>
        <td>{{ p.won }}</td>
        <td>{{ p.lost }}</td>
        <td>{{ p.draw }}</td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}
{% endfor %}
</aside>

<aside class="matches">
  <header>
    <h3>Matchs</h3>
  </header>
  {% for g in groups %}
    <table id="grpm{{ g.id }}">
    <caption>{{ g.name }}</caption>
    {% for m in g.matches %}
      <tr data-p1="{{ m.match.part1.id }}" data-p2="{{ m.match.part2.id }}">
        <td>
          <div class="p1">{{ m.match.part1.name }}</div>
          <em>vs</em>
          <div class="p2">{{ m.match.part2.name }}</div>
          <div class="clear"></div>

          {% for r in m.match.rounds %}
            {% if r.replay %}<a href="{{ asset('uploads/demos/' ~ r.replay) }}"{%
            else %}<div{% endif %} class="dot {%
            if r.score1 > r.score2 %}p1{%
            elseif r.score1 < r.score2 %}p2{%
            else %}p0{% endif %}">
            {% if r.replay %}</a>{% else %}</div>{% endif %}
          {% endfor %}

          <div class="clear"></div>
        </td>
      </tr>
    {% endfor %}
    </table>
{% endfor %}
</aside>

<div class="clear"></div>
