{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Tournois</h2>
  </header>

  <section class="tournaments">
    <ul>
      {% for t in tournaments %}
        {% spaceless %}
          <li style="text-align:center">
            {% if t.isFull() %}
            COMPLET
            {% else %}
            {{ t.validatedSlots }} / {{ t.registrationLimit }} participants
            {% endif %}
            <a href="{{ path('insalan_tournament_default_tournament', {id: t.id}) }}">
              <img src="{{ asset(t.getUploadDir() ~ t.logoPath)  }}" alt="{{ t.name }}"/>
            </a>
          </li>
        {% endspaceless %}
      {% endfor %}
    </ul>
    <div class="clear"></div>
    <div class="space"></div>
  </section>
</article>

{% endblock %}
