{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - {{ t.name }}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>{{ t.name }}</h2>
  </header>

  <section>
    {{ render(controller('InsaLanTournamentBundle:Default:groups', {'tournament': t.id })) }}
  </section>
</article>

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    window.addEvent('domready', function() {
      var matches = $$('.matches table');
      if (matches.length > 0) {
        $$('.groups table')[0].addClass('hovered');
        matches.setStyle('display', 'none');
        matches[0].setStyle('display', '');

        $$('.groups table').addEvent('mouseover', function() {
          var gid = parseInt(this.dataset.gid);
          matches.setStyle('display', 'none');
          $$('.groups table').removeClass('hovered');
          $('grpm' + gid).setStyle('display', '');
          $(this).addClass('hovered');
        });
      }
    });
  </script>
{% endblock %}
