{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - {{ t.name }}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>{{ t.name }}</h2>
  </header>

  <section>
    <div class="back" style="background-image:url('../img/{{ t.name | replace({' ': ''}) | lower }}')">
      {{ render(controller('InsaLanTournamentBundle:Default:groups', {'tournament': t.id })) }}
    </div>
  </section>
</article>

{% endblock %}
