{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
  <p class="alert-error">{{ error|trans }}</p>
{% endif %}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>{{ 'layout.login'|trans }}</h2>
  </header>

  <section>
    <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

      <div class="input left">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
      </div>

      <div class="input left">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />
      </div>

      <div class="input right">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
      </div>

      <div class="input left">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
      </div>
    </form>
  </section>
</article>

{% endblock fos_user_content %}
