<div class="frame">
  <header>
    <div class="title pull-left">
      Information pour les mineurs
    </div>
    <br class="clear">
  </header>
  <body class="text-center">
    Si vous êtes mineur vous devez apporter une <strong><a href="{{ asset('bundles/insalan/pdf/autorisation-parental-joueur.pdf') }}" target="_blank" >[autorisation parentale &#x25BE;]</a></strong> signée par votre responsable légal ;
    <br/>
    Vous devez avoir au moins 16 ans pour participer au tournoi CS:GO et 12 ans pour les autres tournois.
  </body>
</div>

{# TODO Enlever ce texte après l'intralan #}
<div class="frame">
  <header>
    <div class="title pull-left">
      Tournoi réservé aux étudiants
    </div>
    <br class="clear">
  </header>
  <body class="text-center">
  <input type="checkbox" id="studentCheckbox" class="form-check-input"/>
  En cochant cette case, je certifie être étudiant dans une école française et m'engage à contacter les organisateurs pour montrer ma carte d'étudiant en appel vidéo dans la semaine précédent l'évènement, sous peine de disqualification de mon équipe complète du tournoi.
  </body>
</div>

<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      {{ counter }}
    </div>
    <div class="title pull-left">Entrez votre pseudonyme en jeu :</div>
    <br class="clear">
  </header>
  {{ form_start(form) }}
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
    <div class="input field">
      {{ form_widget(form.gameName, {'attr': {'placeholder': 'Votre pseudonyme...'}}) }}
    </div>
    <a class="btn ctrl grid-10" href="javascript:{}" id="submitButton">
      Ok
    </a>
  {{ form_end(form) }}
</div>

<script type="text/javascript">
  manageStudentCheckbox = function() {
    let submitButton = document.getElementById('submitButton');
    let checked = document.getElementById('studentCheckbox').checked;
    submitButton.disabled = !checked;
    if(checked) {
      submitButton.classList.add('btn-primary');
      submitButton.onclick = () => document.getElementById('step1').submit();
    } else {
      submitButton.classList.remove('btn-primary');
      submitButton.onclick = () => {};
    }
  }
  document.getElementById('studentCheckbox').addEventListener("click", manageStudentCheckbox);

  manageStudentCheckbox();
</script>

