{% if m.kind == 'simple' and m.part1 and m.part2 %}
<div class="match_detail {% if m.state == 1 %}match_detail_playing{% endif %}" data-p1="{{ m.part1.id }}" data-p2="{{ m.part2.id }}">
  <table cellpadding="3px">
    {% if m.koMatch %}
      <caption>{{ m.koMatch.getFrenchLevel() }}</caption>
    {% else %}
      <caption>Match {{i}}</caption>
    {% endif %}
    <thead>
      <th style="width:50%">{{ m.part1.name }}</th>
      <th style="width:50%">{{ m.part2.name }}</th>
    </thead>
    {% for r in m.rounds %}
    <tr>
      <td class="{% if r.score(m.part1) > r.score(m.part2) %}won{% elseif r.score(m.part1) < r.score(m.part2) %}lost{% endif %}" style="padding: 0px;">
        {{r.score(m.part1)}}
      </td>
      <td class="{% if r.score(m.part1) < r.score(m.part2) %}won{% elseif r.score(m.part1) > r.score(m.part2) %}lost{% endif %}" style="padding: 0px;">
        {{r.score(m.part2)}}
      </td>
      {#
      <td>
        {% if r.replay == null and authorized %}
          <a href="{{ path('insalan_tournament_user_roundaddreplay', {id: part.id, round: r.id }) }}">
            replay
          </a>
        {% elseif r.replay != null %}
          <a href="{{ asset('uploads/tournament/replays/' ~ r.replay) }}">
            voir
          </a>
        {% endif %}
      </td>
      #}
    </tr>
    {% endfor %}
  </table>

  {% if m.state == 0 %}
    <p>Match en attente</p>
  {% elseif m.state == 1 %}

    {% if authorized == true %}
      <p style="color:yellow">
        Round à jouer !
      </p>

      <p>
        Contactez un admin pour valider le score.
      </p>

      {#
      <form action="{{ path('insalan_tournament_user_teamvalidatematch', {id: part.id, match: m.id }) }}" method="GET">
        <i>Tournament Code :</i>
        <input title="Dans le launcher : Play - Custom - Tournament Code" type="text" value="{{ m.pvpNetUrl }}" style="width: 95%;padding: 3px 5px;background: #232323;cursor: help" onclick="this.setSelectionRange(0, this.value.length)"/>
        <br/>
        <input value="Récupérer le match" type="submit">
      </form>
      #}
    {% else %}
      <p style="color:yellow">
        Match en cours !
      </p>
    {% endif %}
  {% else %}
    {% if m.getWinner() %}
      <p>
        Remporté par <strong>{{ m.getWinner().name }}</strong>
      </p>
    {% else %}
      <p>
        Match nul
      </p>
    {% endif %}
  {% endif %}
</div>
{% elseif m.kind == 'royal' %}
<div class="match_detail {% if m.state == 1 %}match_detail_playing{% endif %}" style="width: auto; height: auto">
  <table cellpadding="3px">
    {% if m.koMatch %}
      <caption>{{ m.koMatch.getFrenchLevel() }}</caption>
    {% else %}
      <caption>Match{% if g|length > 1 %} {{i}}{% endif %}</caption>
    {% endif %}
    <thead>
      {% for p in m.participants %}
        {% if p.id == part.id %}
          <th><strong>{{ p.name }}</strong></th>
        {% else %}
          <th>{{ p.name }}</th>
        {% endif %}
      {% endfor %}
    </thead>
    {% for r in m.rounds %}
    <tr>
      {% for p in m.participants %}
        <td class="won" style="padding: 0px;">
          {{r.score(p)}}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  {% if m.state == 0 %}
    <p>
      Match en attente
    </p>
  {% elseif m.state == 1 %}
    {% if authorized == true %}
      <p style="color:yellow">
        Round à jouer !
      </p>
      <p>
        Contactez un admin pour valider le score.
      </p>
    {% else %}
      <p style="color:yellow">
        Match en cours !
      </p>
    {% endif %}
  {% endif %}
</div>
{% endif %}
