{% extends 'InsaLanAdminBundle::layout.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Tournament</th>
    <th>Actions</th>
  </tr>
  {% for match in matches %}
  <tr>
    <td>
      <a class="btn-plain" href = {{ path('GroupStageModifyAction', {'id': groupStage.id }) }}>Modifier</a>
      <a class="btn-plain" href = {{ path('GroupStageRemoveAction', {'id': groupStage.id }) }}>Supprimer</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
