{% extends 'InsaLanAdminBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <article>
      <header>
        <h2>Gestion des Poules</h2>
      </header>

    <div class="create">
        <h2>Création d'une nouvelle poule</h2>
        <div>Maintenir la touche Ctrl enfoncée pour sélectionner plusieurs participants. Maintenir Shift pour sélectionner une série de participants adjacents dans la liste.</div>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.stage) }}
        <div class="input left">
            <label>Filtre</label>
            <input type="text" placeholder="Filtrer participants..." id="dropdown-search" onkeyup="filter()"/>
        </div>
        {{ form_row(form.participants) }}
        {{ form_row(form.statsType) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>

    <section style="margin-top:40px">
      <strong>Liste des poules :</strong> (Du plus récent au plus ancien)

      <table>
          <tr>
              <th>Name</th>
              <th>Poule</th>
              <th>Participants</th>
              <th>Score</th>
              <th>Actions</th>
          </tr>
          {% for group in groups %}
              <tr>
                  <td>{{ group.name }}</td>
                  <td>{{ group.stage }}</td>
                  <td>{{ group.participants.count }}</td>
                  {% if group.statsType == 0 %}
                      <td>Classique</td>
                  {% else %}
                      <td>Battle Royale</td>
                  {% endif %}
                  <td>
                      <a class="btn-plain" href = {{ path('GroupModifyAction', {'id': group.id }) }}>Modifier</a>
                      <a class="btn-plain" href = {{ path('GroupRemoveAction', {'id': group.id }) }}>Supprimer</a>
                  </td>
              </tr>
          {% endfor %}
      </table>
    </section>
  </article>

    <script>
        // Events
        function filter() {
            const input = document.getElementById("dropdown-search").value.toLowerCase();
            const options = document.getElementById('form_participants').getElementsByTagName('option');

            for (let i = 0; i < options.length; i++) {
                let option = options[i];
                let txtValue = option.textContent || option.innerText;
                if (txtValue.toLowerCase().indexOf(input) > -1) {
                    option.style.display = "";
                } else {
                    option.style.display = "none";
                }
            }
        }
    </script>
{% endblock %}
