<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
      {% stylesheets 'bundles/insalan/css/global.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

    <link href="{{ asset('bundles/insalan/img/favicon.png') }}" rel="icon" type="image/png"/>
    <title>{% block title %}InsaLan{% endblock %}</title>

    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/insalan/js/html5shiv.js') }}"></script>
    <![endif]-->
  </head>

  <body id="body">
    <header>
      <div class="container">
        <div class="logo">
          <div class="pattern"></div>
          <a href="{{ path('insalan_news_default_index') }}">
            <img src="{{ asset('bundles/insalan/img/logo.png') }}" alt="InsaLan"/></a>
        </div>

        <aside>
          <span class="day">Live</span>
          <span class="month">Février</span>
          <span class="place">Rennes</span>
        </aside>

        <nav>
          <ul>
            <li><a href="{{ path('insalan_stream_default_index') }}">Streams</a></li>
            <li><a href="{{ path('insalan_tournament_default_index') }}">Tournois</a></li>
            <li><a href="{{ path('insalan_information_default_index') }}">Infos</a></li>
            <li><a href="lan.html">Galerie</a></li>
            <li><a href="derp.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="container">
      {% for message in app.session.flashbag.get('info') %}
        <p class="alert-info">{{ message }}</p>
      {% endfor %}

      {% for message in app.session.flashbag.get('error') %}
        <p class="alert-error">{{ message }}</p>
      {% endfor %}

      {% block body %}{% endblock %}

      <div class="clear"></div>
    </section>

    <footer>
      <div>
        <aside>
          <div>
            <a id="logo" href="index.html"></a>
            <a id="facebook" href="https://www.facebook.com/onluxgaming"></a>
            <a id="twitter" href="https://twitter.com/OnLuxGaming"></a>
            <div id="mail"><a href="mailto:contact@insalan.fr">contact@insalan.fr</a></div>
          </div>
        </aside>
        <nav>
          <ul>
            <li id="stream">
              <header><a href="{{ path('insalan_stream_default_index') }}">Streams</a></header>
              <ul>
                <li><a href="#">CS:GO</a></li>
                <li><a href="#">TF2</a></li>
                <li><a href="#">LoL</a></li>
                <li><a href="#">SC2</a></li>
              </ul>
            </li>
            <li id="tournois">
              <header><a href="{{ path('insalan_tournament_default_index') }}">Tournois</a></header>
              <div>
                <ul>
                  <li><a href="#">Résultats</a></li>
                  <li><a href="#">Planning</a></li>
                  <li><a href="#">Formats</a></li>
                  <li><a href="#">Equipes</a></li>
                </ul>
              </div>
            </li>
            <li id="infos">
              <header><a href="{{ path('insalan_information_default_index') }}">Infos</a></header>
              <div>
                <ul>
                  <li><a href="{{ path('insalan_information_default_index') }}#asso">Association</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#horaire">Horaires</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#tarif">Tarifs</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#anim">Animations</a></li>
                </ul>
                <ul class="second">
                  <li><a href="{{ path('insalan_information_default_index') }}#repas">Repas</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#tournoi">Tournois</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#finale">Finales</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#sponsor">Sponsors</a></li>
                </ul>
              </div>
            </li>
            <li id="galerie">
              <header><a href="#">Galerie</a></header>
              <ul>
                <li><a href="#">InsaLan 9</a></li>
                <li><a href="#">Autres</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div id="copyright">
          <p>
            © 2014 InsaLan<span>|</span>Design by <a href="http://www.alecahain.fr/">Aceltis</a><span>|</span>Code by Nicolas
          </p>
        </div>
      </div>
    </footer>

    {% block javascripts %}
      {% javascripts
        'bundles/insalan/js/mootools-core-1.4.5.js'
        'bundles/insalan/js/mootools-more-1.4.0.1.js'
        'bundles/insalan/js/global.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
  </body>

<!-- Mirrored from onlux-gaming.lu/ by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 22 Dec 2013 11:30:36 GMT -->
</html>
