<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
      {% stylesheets
        'bundles/insalan/css/global.css'
        'bundles/insalan/css/info.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

    <link href="{{ asset('bundles/insalan/img/favicon.png') }}" rel="icon" type="image/png"/>
    <link href="//fonts.googleapis.com/css?family=PT+Sans%7COpen+Sans:300%7COswald" rel="stylesheet" type="text/css"/>

    <title>{% block title %}InsaLan{% endblock %}</title>

    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/insalan/js/html5shiv.js') }}"></script>
    <![endif]-->
  </head>

  <body id="body">

    {% block main_header %}
    {#
    <div class="streamsHeader">
      <div class="grid-2 stream" style="text-align: left"><div class="rec"></div><p style="padding-left:30px">EN DIRECT</p></div>
      <a href="{{ path('insalan_stream_default_index') }}" class="grid-4 btn-primary streamLink stream"><p>Accéder aux streams</p></a>
    </div>
    #}
    <header>
      <div class="container">
        
        <div class="logo">
          <a href="{{ path('insalan_news_default_index') }}">
            <img src="{{ asset('bundles/insalan/img/logo-noyear-downscaled.png') }}" alt="InsaLan"/>
          </a>
        </div>

        {% block top_infos %}
        <div class="input">
          <nav>              
            <ul>
              {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('insalan_tournament_merchant_index') }}" class="btn2 bnt2-ncolor">Billetterie</a></li>
                  <li><a href="{{ path('insalan_admin_default_index') }}" class="btn2 bnt2-ncolor">Admin</a></li>
                  <li><a href="{{ path('sonata_admin_dashboard') }}" class="btn2 bnt2-ncolor">Sonata</a></li>
                  <!-- Change the route to user dashboard once set up -->
                  <li><a href="{{ path('insalan_tournament_user_index') }}" class="btn2 btn2-nocolor">Mon compte</a></li>
                {% elseif is_granted('ROLE_MERCHANT') %}
                  <li><a href="{{ path('insalan_tournament_merchant_index') }}" class="btn2 bnt2-ncolor">Billetterie</a></li>
                  <li><a href="{{ path('insalan_tournament_user_index') }}" class="btn2 btn2-nocolor">Mon compte</a></li>
                {% else %}
                  <li><a href="{{ path('insalan_tournament_user_index') }}" class="btn2 btn2-nocolor">Mon compte</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}" class="btn2">Déconnexion</a></li>
              {% else %}
                <li><a href="{{ path('insalan_tournament_user_index') }}" class="btn2 btn2-nocolor">Connexion</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}" class="btn2">Inscription</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>

        {% set page = app.request.get('_route') %}
        <div class="navbar">
          <nav>
            <ul>
              <li{% if page == 'insalan_news_default_index' %} class="active"{% endif %}>
                <a href="{{ path('insalan_news_default_index') }}">Accueil</a>
              </li>
              <li class="dropdown {% if page in [
                  'insalan_information_default_wwwh',
                  'insalan_information_default_tournament',
                  'insalan_information_default_public',
                  'insalan_information_default_asso'
                ] %}active{% endif %}">
                <a href="">Informations</a>
                <div class="dropdown-content">
                  <a href="{{ path('insalan_information_default_wwwh') }}">Infos Générales</a>
                  <a href="{{ path('insalan_information_default_tournament') }}">Tournois</a>
                  <a href="{{ path('insalan_information_default_public') }}">Publique</a>
                  <a href="{{ path('insalan_information_default_asso') }}">Association</a>
                </div>
              </li>
              <li{% if page == 'insalan_rsc_default_index' %} class="active"{% endif %}>
                <a href="{{ path('insalan_rsc_default_index') }}">RSC</a>
              </li>
              <li{% if page == 'insalan_tournament_default_index' %} class="active"{% endif %}>
                <a href="{{ path('insalan_tournament_default_index') }}">Tournois</a>
              </li>
              {#{% if app.user %}
                <li><a href="{{ path('insalan_information_default_playersinfos') }}">Infos joueurs</a></li>
              {% endif %}#}
              <li{% if page == 'insalan_information_default_cosplay' %} class="active"{% endif %}>
                <a href="{{ path('insalan_information_default_cosplay') }}">Cosplay</a>
              </li>
              <li{% if page == 'insalan_information_default_baston' %} class="active"{% endif %}>
                <a href="{{ path('insalan_information_default_baston') }}">Baston</a>
              </li>
              {#{% if app.user %}
                <li><a href="{{ path('insalan_information_default_hardwarerental') }}">Locations</a></li>
              {% endif %}#}
              <li{% if page == 'insalan_archives_default_index' %} class="active"{% endif %}>
                <a href="{{ path('insalan_archives_default_index') }}">Archives</a>
              </li>
              {#<li><a href="{{ path('insalan_news_default_forum') }}">Forum</a></li>#}
              {#<li><a href="{{ path('insalan_pizza_default_index') }}">Pizzas</a></li>#}
            </ul>
          </nav>
        </div>
        {% endblock %}
      
      </div>
    </header>
    {% endblock %}
      
    {% block social %}
    <aside class="social">
      <ul>
        <li>
          <div id="return-top"><a href="#body"><span></span></a></div>
        </li>
        <li>
          <a id="twitter" target="_blank" href="https://twitter.com/insalan">
            <img src="{{ asset('bundles/insalan/img/twitter.png') }}" alt="Twitter"/>
          </a>
        </li>
        <li>
          <a id="facebook" target="_blank" href="https://www.facebook.com/insalan">
            <img src="{{ asset('bundles/insalan/img/facebook.png') }}" alt="Facebook"/>
          </a>
        </li>
        <li>
          <a id="mail" href="mailto:contact@insalan.fr"><span>📧</span></a>
        </li> 
      </ul>
    </aside>
    {% endblock %}

    <section class="container">
      {% for message in app.session.flashbag.get('info') %}
        <p class="alert-info">{{ message }}</p>
      {% endfor %}

      {% for message in app.session.flashbag.get('error') %}
        <p class="alert-error">{{ message }}</p>
      {% endfor %}

      {% block body %}{% endblock %}

      <div class="clear"></div>
    </section>

    {% block rawbody %}{% endblock %}

    {% block main_bottom %}
    <footer>
      <div class="container">
        <div class="contact">
          <div>
            <a id="logo" href="{{ path('insalan_news_default_index') }}"></a>
            <a id="facebook" href="https://www.facebook.com/insalan">
              <img src="{{ asset('bundles/insalan/img/facebook.png') }}" alt="Facebook"/>
            </a>
            <a id="twitter" href="https://twitter.com/insalan">
              <img src="{{ asset('bundles/insalan/img/twitter.png') }}" alt="Twitter"/>
            </a>
            <div id="mail"><a href="mailto:contact@insalan.fr">contact@insalan.fr</a></div>
          </div>
        </div>

        {% block bottom_infos %}
        <div class="navmap">
          <nav>
            <ul>
              <li>
                <header><a href="{{ path('insalan_tournament_default_index') }}">Tournois</a></header>
                <ul>
                  <li><a href="{{ path('insalan_news_default_index') }}">Accueil</a></li>
                  <li><a href="{{ path('insalan_user_default_index') }}">Connexion</a></li>
                  <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                </ul>
              </li>

              <li>
                <header><a href="{{ path('insalan_information_default_faq') }}">Infos</a></header>
                <ul>
                  <li><a href="{{ path('insalan_news_default_index') }}">Déroulement</a></li>
                  <li><a href="{{ path('insalan_tournament_default_index') }}">Jeux</a></li>
                  <li><a href="{{ path('insalan_news_default_index') }}">Prix</a></li>
                </ul>
              </li>

              <li>
                <header><a href="{{ path('insalan_news_default_index') }}">InsaLan.fr</a></header>
                <ul>
                  <li><a href="{{ path('insalan_news_default_index') }}">News</a></li>
                  {#<li><a href="http://www.insalan.fr/gallery/">Galerie</a></li>
                  <li><a href="{{ path('insalan_stream_default_index') }}">Stream</a></li>#}
                  <li><a href="http://old.insalan.fr/forum/">Forum</a></li>
                  <li><a href="{{ path('insalan_information_default_faq') }}#contact">Contact</a></li>
                </ul>
              </li>

              <li>
                <header><a>À Propos</a></header>
                <ul>
                  <li><a href="{{ path('insalan_information_default_mentions') }}">Mentions légales</a></li>
                  <li><a href="{{ path('insalan_information_default_salesterms') }}">Conditions générales<br/> de vente</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <div class="logo">
          <ul>
            <li>
              <a href="http://aeir.insa-rennes.fr/">
                <img src="{{ asset('bundles/insalan/img/partenaires/aeir.png') }}" alt="AEIR" />
              </a> 
            </li>
            <li>
              <a href="http://www.insa-rennes.fr">
                <img src="{{ asset('bundles/insalan/img/partenaires/insa-rennes.png') }}" alt="INSA Rennes"/>
              </a>
            </li>
          </ul>
        </div>
        {% endblock %}
        
        <div class="copyright">
          <ul>
            <li>© 2014-2019 InsaLan</li>
            <li><span>|</span></li>
            <li>Design by <a href="https://www.alecahain.fr/">Aceltis</a></li>
            <li><span>|</span></li>
            <li>Code by <a href="https://nhurman.fr/">Nicolas</a>, <a href="https://www.lesterpig.com/">Loïck</a>, <a href="https://quentin.dufour.io">Quentin</a> &amp; <a href="https://mricher.fr/">Maximilien</a></li>
          </ul>        
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block javascripts %}
      {% javascripts
        'bundles/insalan/js/mootools-core-1.4.5.js'
        'bundles/insalan/js/mootools-more-1.4.0.1.js'
        'bundles/insalan/js/global.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ ga_tracking }}', 'auto');
  ga('send', 'pageview');

    </script>
    {% endblock %}
  </body>
</html>
