<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
      {% stylesheets
        'bundles/insalan/css/global.css'
        'bundles/insalan/css/info.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

    <link href="{{ asset('bundles/insalan/img/favicon.png') }}" rel="icon" type="image/png"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans:300|Oswald" rel="stylesheet" type="text/css"/>

    <title>{% block title %}InsaLan{% endblock %}</title>

    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/insalan/js/html5shiv.js') }}"></script>
    <![endif]-->
  </head>

  <body id="body">

    <div id="mask">
      {#<div class="maskContent" id="stream1">
        <iframe id="embedPlayer" data-provider="dailymotion" data-code="x15gjhi" data-irc="tcg" src="http://millenium-tv-tcg.nexus.mnium.org/player.html?volume=1&amp;autoplay=0&amp;quality=480&amp;syndication=166969" width="750" height="422" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        <br /><a href="#" class="hideMask">Cacher</a>
      </div>
      <div class="maskContent" id="stream2">
        <iframe id="embedPlayer" data-irc="millenium_tv" src="http://millenium-tv1.nexus.mnium.org/player.html?volume=1&amp;autoplay=0&amp;quality=240&amp;syndication=166969" width="640" height="360" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        <br /><a href="#" class="hideMask">Cacher</a>
      </div>#}
      <div class="maskContent" id="stream3">
        <iframe frameborder="0" src="https://www.dailymotion.com/embed/video/x1uf24n?logo=0&amp;hideInfos=1&amp;autoPlay=0" allowfullscreen="" width="480" height="270"></iframe>
        <br /><a href="#" class="hideMask">Cacher</a>
      </div>
      <div class="maskContent" id="stream4">
        <iframe frameborder="0" width="480" height="270" src="https://www.dailymotion.com/embed/video/x1zsofq?logo=0&amp;hideInfos=1&amp;autoPlay=0" allowfullscreen></iframe>
        <br /><a href="#" class="hideMask">Cacher</a>
      </div>
    </div>

    

    {% block main_header %}
      <div class="streamsHeader">
        <div class="grid-2 stream" style="text-align: left"><div class="rec"></div><p style="padding-left:30px">EN DIRECT :</p></div>
        <div class="grid-1 streamLink stream" data-target="stream1" onclick="document.location='http://www.millenium.org/home/milleniumtv/streaming/?chaine=hearthstone'"><p>HearthStone</p></div>
        <div class="grid-1 streamLink stream" data-target="stream2" onclick="document.location='http://www.millenium.org/home/milleniumtv/streaming/?chaine=millenium_tv'"><p>StarCraft 2</p></div>
        <div class="grid-1 streamLink stream showMask" data-target="stream3"><p>DotA 2</p></div>
        <div class="grid-2 streamLink stream showMask" data-target="stream4"><p>League Of Legends</p></div>
      </div>
    <header>
      
      <div class="container">
        <div class="logo">
          <div class="pattern"></div>
          <a href="{{ path('insalan_news_default_index') }}">
            <img src="{{ asset('bundles/insalan/img/logo-noyear.png') }}" alt="InsaLan"/></a>
        </div>

        {% block top_infos %}
        <aside>
            <div class="input">
                {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}" class="btn2 pull-right" style="margin-left: 10px;">Déconnexion</a>
                <a href="{{ path('insalan_tournament_user_index') }}" class="btn2 btn2-nocolor pull-right">Mon compte</a>
                {% else %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn2 pull-right" style="margin-left: 10px;">Inscription</a>
                <a href="{{ path('insalan_tournament_user_index') }}" class="btn2 btn2-nocolor pull-right">Connexion</a>
                {% endif %}
            </div>
        </aside>

        <nav>
          <ul>
            <li><a href="{{ path('insalan_news_default_index') }}">Accueil</a></li>
            <li><a href="{{ path('insalan_tournament_default_index') }}">Tournois</a></li>
            <li><a href="{{ path('insalan_information_default_cosplay') }}">Cosplay</a></li>
            <li><a href="{{ path('insalan_information_default_faq') }}">Informations</a></li>
            <li><a href="{{ path('insalan_pizza_default_index') }}">Pizzas</a></li>
          </ul>
        </nav>
        {% endblock %}
      </div>
    </header>
    {% endblock %}

    <section class="container">
      {% for message in app.session.flashbag.get('info') %}
        <p class="alert-info">{{ message }}</p>
      {% endfor %}

      {% for message in app.session.flashbag.get('error') %}
        <p class="alert-error">{{ message }}</p>
      {% endfor %}

      {% block body %}{% endblock %}

      <div class="clear"></div>
    </section>

    {% block rawbody %}{% endblock %}

    {% block main_bottom %}
    <footer>
      <div>
        <aside>
          <div>
            <a id="logo" href="{{ path('insalan_news_default_index') }}"></a>
            <a id="facebook" href="https://www.facebook.com/insalan"></a>
            <a id="twitter" href="https://twitter.com/insalan"></a>
            <div id="mail"><a href="mailto:contact@insalan.fr">contact@insalan.fr</a></div>
          </div>
        </aside>

        {% block bottom_infos %}
        <nav>
          <ul>
            <li>
              <header><a href="{{ path('insalan_tournament_default_index') }}">Tournois</a></header>
              <div>
                <ul>
                  <li><a href="{{ path('insalan_news_default_index') }}">Accueil</a></li>
                  <!-- <li><a href="{{ path('insalan_information_default_rules') }}">Règlement</a></li> -->
                  <li><a href="{{ path('insalan_user_default_index') }}">Connexion</a></li>
                  <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                </ul>
              </div>
            </li>

            <li>
              <header><a href="{{ path('insalan_information_default_faq') }}">Infos</a></header>
              <div>
                <ul>
                  <!-- <li><a href="{{ path('insalan_information_default_home') }}#rewards">Récompenses</a></li> -->
                  <li><a href="{{ path('insalan_news_default_index') }}">Déroulement</a></li>
                  <li><a href="{{ path('insalan_tournament_default_index') }}">Jeux</a></li>
                  <li><a href="{{ path('insalan_news_default_index') }}">Prix</a></li>
                </ul>
              </div>
            </li>

            <li>
              <header><a href="{{ path('insalan_news_default_index') }}">InsaLan.fr</a></header>
              <ul>
                <li><a href="{{ path('insalan_news_default_index') }}">News</a></li>
                <!-- <li><a href="http://www.insalan.fr/gallery/">Galerie</a></li> -->
                <li><a href="{{ path('insalan_stream_default_index') }}">Stream</a></li>
                <li><a href="http://old.insalan.fr/forum/">Forum</a></li>
                <li><a href="{{ path('insalan_information_default_faq') }}#contact">Contact</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        {% endblock %}
        <div id="copyright">
          <p>
            © 2014 InsaLan <span>|</span>
            Design by <a href="http://www.alecahain.fr/">Aceltis</a> <span>|</span>
            Code by <a href="http://nhurman.fr/">Nicolas</a>, <a href="http://www.lesterpig.com/">Loïck</a> &amp; <a href="http://quentin.dufour.tk">Quentin</a>
          </p>
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block javascripts %}
      {% javascripts
        'bundles/insalan/js/mootools-core-1.4.5.js'
        'bundles/insalan/js/mootools-more-1.4.0.1.js'
        'bundles/insalan/js/global.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ ga_tracking }}', 'auto');
  ga('send', 'pageview');

    </script>
    {% endblock %}
  </body>
</html>

