<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
      {% stylesheets
        'bundles/insalan/css/global.css'
        'bundles/insalan/css/info.css'
        'bundles/insalan/css/tournament.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

    <link href="{{ asset('bundles/insalan/img/favicon.png') }}" rel="icon" type="image/png"/>
    <title>{% block title %}InsaLan{% endblock %}</title>

    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/insalan/js/html5shiv.js') }}"></script>
    <![endif]-->
  </head>

  <body id="body">
    <header>
      <div class="container">
        <div class="logo">
          <div class="pattern"></div>
          <a href="{{ path('insalan_information_default_home') }}">
            <img src="{{ asset('bundles/insalan/img/logo-noyear.png') }}" alt="InsaLan"/></a>
        </div>

        <aside>
          <span class="day">64</span>
          <span class="month">Slots</span>
          <span class="place">restants</span>
        </aside>

        <nav>
          <ul>
            <li><a href="{{ path('insalan_information_default_home') }}">Accueil</a></li>
            <li><a href="{{ path('insalan_information_default_rules') }}">Règlement</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="container">
      {% for message in app.session.flashbag.get('info') %}
        <p class="alert-info">{{ message }}</p>
      {% endfor %}

      {% for message in app.session.flashbag.get('error') %}
        <p class="alert-error">{{ message }}</p>
      {% endfor %}

      {% block body %}{% endblock %}

      <div class="clear"></div>
    </section>

    <footer>
      <div>
        <aside>
          <div>
            <a id="logo" href="{{ path('insalan_information_default_home') }}"></a>
            <a id="facebook" href="https://www.facebook.com/insalan"></a>
            <a id="twitter" href="https://twitter.com/insalan"></a>
            <div id="mail"><a href="mailto:contact@insalan.fr">contact@insalan.fr</a></div>
          </div>
        </aside>
        <nav>
          <ul>
            <li id="stream">
              <header><a href="{{ path('insalan_stream_default_index') }}">Streams</a></header>
              <ul>
                <li><a href="{{ path('insalan_stream_default_index') }}#stream-cs">CS:GO</a></li>
                <li><a href="{{ path('insalan_stream_default_index') }}#stream-tf2">TF2</a></li>
                <li><a href="{{ path('insalan_stream_default_index') }}#stream-lol">LoL</a></li>
                <li><a href="{{ path('insalan_stream_default_index') }}#stream-sc2">SC2</a></li>
              </ul>
            </li>
            <li id="tournois">
              <header><a href="{{ path('insalan_tournament_default_index') }}">Tournois</a></header>
              <div>
                <ul>
                  <li><a href="http://intranet.insalan.fr/">Résultats</a></li>
                  <li><a href="http://intranet.insalan.fr/">Planning</a></li>
                  <li><a href="http://intranet.insalan.fr/">Formats</a></li>
                  <li><a href="http://intranet.insalan.fr/">Equipes</a></li>
                </ul>
              </div>
            </li>
            <li id="infos">
              <header><a href="{{ path('insalan_information_default_index') }}">Infos</a></header>
              <div>
                <ul>
                  <li><a href="{{ path('insalan_information_default_index') }}#asso">Association</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#horaire">Horaires</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#anim">Animations</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#tarif">Tarifs et Repas</a></li>
                </ul>
                <ul class="second">
                  <li><a href="{{ path('insalan_information_default_index') }}#tournoi">Tournois</a></li>
                  <li><a href="{{ path('insalan_information_default_index') }}#finale">Finales</a></li>
                </ul>
              </div>
            </li>
            <li id="galerie">
              <header><a href="http://www.insalan.fr/gallery/">Galerie</a></header>
              <ul>
                <li><a href="#">InsaLan 9</a></li>
                <li><a href="http://www.insalan.fr/gallery/">Autres</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div id="copyright">
          <p>
            © 2014 InsaLan <span>|</span>
            Design by <a href="http://www.alecahain.fr/">Aceltis</a> <span>|</span>
            Code by <a href="http://nhurman.fr/">Nicolas</a> & <a href="http://quentin.dufour.tk">Quentin</a>
          </p>
        </div>
      </div>
    </footer>

    {% block javascripts %}
      {% javascripts
        'bundles/insalan/js/mootools-core-1.4.5.js'
        'bundles/insalan/js/mootools-more-1.4.0.1.js'
        'bundles/insalan/js/global.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
  </body>
</html>

