{% extends 'InsaLanPizzaBundle::Admin/layout.html.twig' %}

{% block title %}
{{ parent() }}
 - Gestion commandes
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Gestion des Commandes Pizza</h2>
  </header>
  <section>
    {{ form_start(form, {attr:{'class':'oneline'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.order) }}
    <div class="input left">
      <input type="submit" value="&rarr;"/>
      &nbsp;&nbsp;&nbsp;
      <small>
        <a id="hideShowCommand" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'showAll': not showAll})) }}">
          {{ showAll ? "Masquer" : "Afficher" }} les anciennes commandes
        </a>
      </small>
    </div>
    {{ form_end(form) }}
  </section>
  {% if order %}
    <section style="margin-top:20px">
      {{ form_start(formAdd, {attr:{'class':'oneline'}}) }}
      <strong>Ajout manuel d'une commande</strong>
      {{ form_widget(formAdd.username, {'attr': {'placeholder': formAdd.username.vars.label, 'class': 'addInput' }}) }}
      {{ form_widget(formAdd.fullname, {'attr': {'placeholder': formAdd.fullname.vars.label, 'class': 'addInput' }}) }}
      {{ form_widget(formAdd.pizza, {'attr': {'class': 'addInput'}}) }}
      {{ form_widget(formAdd.price, {'attr': {'class': 'addInput'}}) }}
      <div class="input left">
        <input type="submit" value="Ajouter"/>
      </div>
      {{ form_end(formAdd) }}
    </section>
    <section id="c{{ order.id }}">
      <div>
        {% if order.isDelivered() %}
          <b style="color:red">Attention</b> : cette commande doit être livrée !
        {% elseif order.isExpired() %}
          <strong>Attention : la commande doit être passée !</strong>
        {% elseif order.closed %}
          <strong>
            Les commandes via le site sont bloquées.
            {#
            <form method="POST" action="{{ path('insalan_pizza_admin_unlock', {id: order.id}) }}"><input type="submit" value="Débloquer"/></form>
            #}
          </strong>
        {% elseif order.availableOrders(false) == 0 %}
          Le stock est <strong>épuisé</strong>. Il est encore possible de rajouter des commandes à la main.
        {% else %}
          Les commandes via le site sont <strong>autorisées</strong> jusqu'à {{ order.expiration | date('H\\hi') }}
          {% if order.availableOrders(true) == 0 %}
            , mais les non-joueurs <strong>ne peuvent plus commander</strong>
          {% endif %}.
          {#
          <form method="POST" action="{{ path('insalan_pizza_admin_lock', {id: order.id}) }}"><input type="submit" value="Bloquer" onclick="return confirm('Confirmer le blocage ? Cette opération est automatique lorsque la limite horaire est atteinte.')"/></form>
          #}
        {% endif %}
      </div>
    <ul style="margin: 20px">
      {% for name, quantity in order.pizzas %}
        <li style="margin-left: 20px">
          <b>{{ name }}</b> : <strong style="margin-left: 5px">{{ quantity }}</strong>
        </li>
      {% endfor %}
        {#
        <li style="margin-left: 20px">
          <strong>TOTAL : {{ order.sum }} €</strong>
        </li>
        #}
      </ul>
      <table class="grid-10" style="margin-top:20px">
        <tr>
          <th class="grid-1">Heure</th>
          <th class="grid-2">Nom</th>
          <th class="grid-2">Pseudo</th>
          <th class="grid-2">Pizza</th>
          <th class="grid-1">&Eacute;tat</th>
          <th class="grid-2"></th>
        </tr>
        {% for uo in order.ordersOrdered | filter(uo=>uo.paymentDone) %}
        <tr>
          <td>{{ uo.createdAt | date("d/m H:i") }}</td>
          <td>
            {{ uo.fullname }}{% if uo.foreign %}<strong>*</strong>{% endif %}
          </td>
          <td><strong>{{ uo.username | upper }}</strong></td>
          <td>
            <strong>{{ uo.pizza.name | upper }}</strong>
            <span style="font-size:10px">
            {% if uo.price is constant("InsaLan\\PizzaBundle\\Entity\\UserOrder::FULL_PRICE") %}
              Plein tarif
            {% elseif uo.price is constant("InsaLan\\PizzaBundle\\Entity\\UserOrder::STAFF_PRICE") %}
              Tarif staff
            {% elseif uo.price is constant("InsaLan\\PizzaBundle\\Entity\\UserOrder::FREE_PRICE") %}
              Offerte
            {% endif %}
            </span>
          </td>
          <td>
            <div class="order_status_{{ uo.id }}">
              <span class="order_delivered" style="color: red{% if not uo.delivered %};display:none{% endif %}">Livrée</span>
              <span class="order_not_delivered" style="color: lime{% if uo.delivered %};display:none{% endif %}">
              {% if uo.type is constant("InsaLan\\PizzaBundle\\Entity\\UserOrder::TYPE_MANUAL") %}
                Payée cash
              {% elseif uo.type is constant("InsaLan\\PizzaBundle\\Entity\\UserOrder::TYPE_PAYPAL") %}
                Payée web
              {% endif %}
              </span>
            </div>
          </td>
          <td>
            <span class="order_status_{{ uo.id }}">
              <button class="order_delivered" data-url="{{ path("insalan_pizza_admin_order_status", {id: uo.id, status: 0}) }}" data-id="{{ uo.id }}" onclick="if(confirm('Confirmer la non livraison ?')) { changeOrderStatus(this) }" {% if not uo.delivered %}style="display:none"{% endif %} >> Non Livrée</button>
              <button class="order_not_delivered" data-url="{{ path("insalan_pizza_admin_order_status", {id: uo.id, status: 1}) }}" data-id="{{ uo.id }}" onclick="changeOrderStatus(this)" {% if uo.delivered %}style="display:none"{% endif %}>> Livrée</button>
            </span>
            <form method="POST" action="{{ path('insalan_pizza_admin_order_remove', {id: uo.id}) }}">
              <input type="submit" value="Supprimer" onclick="return confirm('Confirmer la suppression ?');"/>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>
  {% endif %}
</article>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
(function($) {
  window.changeOrderStatus = function(e) {

    (function(e) {
      $.post($(e).data('url'), function(res) {
        if(!res.err) {
          var uoId = $(e).data('id');
          if(!$(e).hasClass('order_delivered')) {
            $(".order_status_" + uoId + " .order_delivered").show();
            $(".order_status_" + uoId + " .order_not_delivered").hide();
          } else {
            $(".order_status_" + uoId + " .order_delivered").hide();
            $(".order_status_" + uoId + " .order_not_delivered").show();
          }
        }
      });
    })(e);

  };
})(jQuery);
</script>
{% endblock %}
