{% extends 'InsaLanPizzaBundle::Admin/layout.html.twig' %}

{% block title %}
{{ parent() }}
 - Gestion pizzas
{% endblock %}

{% block body %}
{{ parent() }}

<article >

  <header>
    <h2>Gestion des pizzas</h2>
  </header>

  <section style="margin-top:30px">
    {{ form_start(formAdd, {attr:{'class':'oneline'}}) }}
    <strong>Ajout manuel d'une pizza :</strong>
    <div id="addFormBlock">
      {{ form_widget(formAdd.pizzaName, {'attr': {'placeholder': formAdd.pizzaName.vars.label, 'class': 'addInput' }}) }}
      {{ form_widget(formAdd.pizzaPrice, {'attr': {'placeholder': formAdd.pizzaPrice.vars.label, 'class': 'addInput' }}) }}
      {{ form_widget(formAdd.pizzaDescription, {'attr': {'placeholder': formAdd.pizzaDescription.vars.label, 'class': 'addInput' }}) }}
      <label for=""> Veggie : </label>
      {{ form_widget(formAdd.pizzaVeggie, {'attr': {'class': 'addInput' }}) }}
      <div class="input left">
        <input type="submit" value="Ajouter"/>
      </div>
    </div>
    {{ form_end(formAdd) }}
  </section>

  <section style="margin-top:40px">
    <strong>Liste des pizzas :</strong>
    <table class="grid-10" style="margin-top:20px">
      <tr>
        <th class="grid-1-5">Nom</th>
        <th class="grid-3">Description</th>
        <th class="grid-1">Prix</th>
        <th class="grid-1">Veggie</th>
        <th class="grid-1"></th>
      </tr>
      {% for pizza in pizzas %}
      <tr>
        <td>{{ pizza.name }}</td>
        <td>{{ pizza.description }}</td>
        <td>{{ pizza.price }} €</td>
        <td>
          {% if pizza.veggie == 1 %}
            <b style="color: green">&#x2713; </b>
          {% else %}
            <b style="color: red">&#x274C; </b>
          {% endif %}
        </td>
        <td>
          <form method="POST" action="{{ path('insalan_pizza_admin_pizza_remove', {id: pizza.id}) }}">
            <input type="submit" value="Supprimer" onclick="return confirm('Confirmer la suppression ?');"/>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>
</article>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
