{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} -
  Cosplay
{% endblock %}

{% block body %}
{{ parent() }}
<section>
        <header>
         <h2><strong>Inscription Concourt Cosplay</strong></h2>
        </header>

        <article>
                 {{form_start(form)}}
                {{form_errors(form)}}
                <article>
                        <h3>Informations équipe</h3>
                        <br class="clear">
                        <div class="input field"> 
                                {{form_row(form.name)}}
                        </div>
                        <div class="input field"> 
                                {{form_row(form.team)}}
                        </div>
                        <div class="input field">
                                <label for="count">nombre de participant</label><input type="number" name="count" id="count" action={% set count %}{% endset %}></input>
                        </div>
                </article>
                <br class="clear">

                <article>
                        <h3>Informations Représentation</h3>
                        <br class="clear">
                        <div class="input field"> 
                                {{form_row(form.launch)}}
                        </div>
                        <div class="input field"> 
                                {{form_row(form.setup)}}
                        </div>
                        <div class="input field"> 
                                {{form_row(form.details)}}
                        </div>
                        <div class="input field"> 
                                {{form_row(form.soundtrack)}}
                        </div>
                </article>
                <br class="clear">
                <br class="clear">
                <div>
                        <input type="submit" value="valider"></input>
                </div>
                {{form_end(form)}}
        </article>
</section>

{% endblock %}