{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} -
  Cosplay
{% endblock %}

{% block body %}
{{ parent() }}

<section>
        <header>
                <h1> Inscription Cosplayer </h1>
        </header>
        <article>
                {{form_start(form)}}
                {{form_errors(form)}}

                <div class="input field"> 
                        {{form_row(form.firstname)}}
                </div>

                <div class="input field">
                        {{form_row(form.lastname)}}
                </div>

                <div class="input field">
                        {{form_row(form.pseudo)}}
                </div>

                <div class="input field">
                        {{form_row(form.usePseudo)}}
                </div>

                <div class="input field">
                        {{form_row(form.adult)}}
                </div>

                <div class="input field">
                        {{form_row(form.email)}}
                </div>

                <div class="input field">
                        {{form_row(form.phone)}}
                </div>

                <div class="input field">
                        {{form_row(form.postalCode)}}
                </div>

                <div class="input field">
                        {{form_row(form.characterCosplayed)}}
                </div>

                <div class="input field">
                        {{form_row(form.origin)}}
                </div>

                <div class="input field">
                        {{form_row(form.picturePath)}}
                </div>

                <div class="input field">
                        {{form_row(form.pictureRightPath)}}
                </div>

                <div class="input field">
                        {{form_row(form.parentalConsentPath)}}
                </div>

                <div>
                        <input type="submit" value="Valider"></input>
                </div>

        </article>
</section>

{% endblock %}


