{% extends 'InsaLanPizzaBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}

{% endblock %}

{% block body %}
  {{ parent() }}

  <article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    {% if order %}
      <ul>
        <li>Prochaine <br/> Livraison</li>
        <li>{{ order.delivery | date('H\\hi') }}</li>
        <li>Heure <br/> limite</li>
        <li>{{ order.expiration | date('H\\hi') }}</li>
      </ul>
    {% endif %}
  </aside>

  <header>
    <h2>Commandes de pizzas</h2>
  </header>

  <section>
    <p> Cette année encore, nous vous proposons de commander de délicieuses
    pizzas qui vont seront livrées par notre staff !
    Vous pouvez commander ces disques de pur bonheur <a href="http://www.pizzasprint.com/">PizzaSprint</a>
    de votre place, sur cette page. <br/>
    <img src="http://www.pizzasprint.com/sites/all/themes/pizzasprint/logo.png" style="display: block; margin: auto; margin-top: 20px" width="121" height="144"/>
    </p>

    <h3> Commander </h3>
    <p>Pour la liste des pizzas, allez voir ci-dessous pour un bref aperçu,
    ou venez demander un prospectus plus détaillé !</p>

    <fieldset class="form-frame">
      <form style="margin-top: 20px" action="" method="post">
        <div class="input left">
          <label>Mon crédit</label>
          <input type="text" disabled
            value="{% if app.user %}{{ app.user.credit }} pizza{% if
              app.user.credit > 1 %}s{% endif %}{% else %}Non connecté{% endif %}"
            style="background: transparent; border: none;color: white"/>
        </div>
        {% if order %}
          <div class="input left">
            <label for="pizza">Pizza</label>
            <select id="pizza" name="pizza">
              {% for p in pizzas %}
                <option value="{{ p.id }}">{{ p.name }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        <div class="input left">
          {% if order %}
            {% if app.user and app.user.credit > 0 %}
              <input type="submit" value="J'ai faim!">
            {% else %}
              Crédit insuffisant
            {% endif %}
          {% else %}
            Aucune commande de pizza n'est possible pour l'instant.
          {% endif %}
        </div>
      </form>
    </fieldset>

    <h3> Pizzas disponibles </h3>
    <dl>
        {% for p in pizzas %}
        <dt>{{ p.name }}</dt>
            <dd>{{ p.description }}</dd>
        {% endfor %}
    </dl>

    <h3>Mes commandes</h3>
    <table style="width:700px">
      <tr>
          <th>Date</th>
          <th>Pizza</th>
          <th>Livraison</th>
      </tr>

      {% for order in myOrders %}
        <tr>
          <td>{{ order.createdAt | date('d/m H\\hi') }}</td>
          <td>{{ order.pizza.name }}</td>
          <td>{{ order.order.delivery | date('d/m H\\hi') }}</td>
          {#<td>{% if order.delivered %}Livrée{% else %}En attente{% endif %}</td>#}
        </tr>
      {% endfor %}
    </table>
  </section>

</article>

{% endblock %}


