{% extends 'InsaLanNewsBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {{ parent() }}

  <aside class="carousel">
    {% for s in sliders %}
      <div class="picture"{% if not loop.first %} style="display: none"{% endif %}>
        <img src="{{ asset('uploads/slider/' ~ s.id ~ '.png') }}" alt=""/>
        <div class="grid"></div>
      </div>
    {% endfor %}

    <table>
      <tr>
        <td class="title">
          {% for s in sliders %}
            <div{% if not loop.first %} style="display: none"{% endif %}>
              <p class="main">{{ s.title }}</p>
              <p class="subtitle">{{ s.subtitle }}</p>
            </div>
          {% endfor %}
        </td>
        <td class="items">
          {% for s in sliders %}
            <a href="#"{% if loop.first %} class="active"{% endif %}></a>
          {% endfor %}
        </td>
        <td class="open">
          {% for s in sliders %}
            {% if s.link %}
              <a href="{{ s.link }}"{% if not loop.first %} style="display: none"{% endif %}>
                <span></span>
              </a>
            {% else %}
              <a class="disabled"{% if not loop.first %} style="display: none"{% endif %}>
                <span></span>
              </a>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    </table>
  </aside>

  <section class="news">
    <h2>Actualités</h2>

    {% for n in news %}
      <article class="subsection">
        <aside>
          <div class="square">
            <a href="#body"><span></span></a>
          </div>
        </aside>

        <header>
          <h2>{{ n.title }}</h2>
          <span class="date">{{ n.createdAt | date('d/m/Y H:i') }}</span> -
          <span class="category">{{ n.category }}</span>
        </header>

        <section>
          {{ n.text | markdown }}
        </section>
      </article>
    {% endfor %}


    <nav>
      <div class="prev">
        <span>Project website opening</span>
        <a href="#">&laquo; Précédent</a>
      </div>

      <div class="next">
        <a href="#">Suivant &raquo;</a>
        <span>Project website opening</span>
      </div>
    </nav>
  </section>

  <aside class="twitter">
    <h2>Twitter</h2>
    <div>
      <a class="twitter-timeline"  href="https://twitter.com/OnLuxGaming" width="290" height="600" data-widget-id="407192659145404416" data-border-color="#2d2d2d" data-link-color="#00bff3" data-chrome="transparent noscrollbar">Tweets by @OnLuxGaming</a>
    </div>
  </aside>
{% endblock %}


