{% extends 'InsaLanPizzaBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}

{% endblock %}

{% block body %}
  {{ parent() }}

  <article class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    {% if orders %}
      <ul>
        <li>Prochaine <br/> Livraison</li>
        <li>{{ orders[0].delivery | date('H\\hi') }}</li>
        <li>Heure <br/> limite</li>
        <li>{{ orders[0].expiration | date('H\\hi') }}</li>
      </ul>
    {% endif %}
  </aside>

  <header>
    <h2>Commandes de pizzas</h2>
  </header>

  <section>
    <p> <img src="{{ asset('bundles/insalan/img/LogoDominosPizza.png') }}" style="margin:20px; float: right" width="121" height="144"/> Cette année encore, nous vous proposons de commander de délicieuses
    <strong>pizzas XXL</strong>, livrées à la buvette à différents horaires.
    Vous pouvez commander ces disques de pur bonheur <a href="https://pizza.dominos.fr/">Domino's Pizza</a>
    <strong>de votre place</strong>, sur cette page. <br/>
    </p>

    <p>Si vous souhaitez commander en <strong>liquide</strong>, merci de venir effectuer votre commande à <strong>la buvette</strong>. Attention : le paiement par paypal est <strong>majoré</strong> pour les frais de traitement occasionnés.</p>

    <div class="clear"></div>

    {% if orders %}
    <fieldset class="form-frame">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.order) }}
        {{ form_row(form.pizza) }}
        <input type="submit" value="Commander (PayPal)"/>
      {{ form_end(form) }}
    </fieldset>
    {% else %}
    <fieldset class="form-frame">
      <form>
        <strong>Aucune livraison n'est disponible pour le moment.</strong>
      </form>
    </fieldset>
    {% endif %}

    <h3> Pizzas disponibles </h3>
    <dl>
        {% for p in pizzas %}
        <dt>{{ p.name }} ({{ p.price }} €)</dt>
            <dd>
              {% if p.description %}
              {{ p.description }}
              {% else %}
              (pas de description)
              {% endif %}
            </dd>
        {% endfor %}
    </dl>

    <h3>Mes commandes</h3>
    <table class="grid-10">
      <tr>
          <th class="grid-2">Date</th>
          <th class="grid-12">Pizza</th>
          <th class="grid-2">Livraison</th>
          <th class="grid-2">Etat</th>
      </tr>

      {% for order in myOrders %}
        <tr>
          <td>{{ order.createdAt | date('d/m H\\hi') }}</td>
          <td>{{ order.pizza.name }} - {{ order.pizza.price }} €</td>
          <td>{{ order.order.delivery | date('d/m H\\hi') }}</td>
          <td>
            {% if not order.order.isExpired %}
              Commande payée
            {% elseif not order.order.isDelivered %}
              En fabrication
            {% elseif not order.delivered %}
              <strong>DISPONIBLE !</strong>
            {% else %}
              Livrée
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </section>

</article>

{% endblock %}


