{% extends 'InsaLanPizzaBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - Récapitulatif
{% endblock %}

{% block body %}
  {{ parent() }}

  <article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Liste des commandes</h2>
  </header>

  <section>
    <h3>Accès rapide</h3>
    <ul>
      {% for order in orders %}
        <li style="margin-left: 20px"><a href="#c{{ order.id }}">
          {{ order.delivery | date('d/m, H\\hi') }}</a></li>
      {% endfor %}
    </ul>
  </section>

  {% for order in orders %}
  <section id="c{{ order.id }}">
    <h3>Commande de {{ order.delivery | date('H\\hi') }}</h3>

    <ul>
    {% for name, quantity in order.pizzas %}
      <li style="margin-left: 20px">{{ name }} : {{ quantity }}</li>
    {% endfor %}
    </ul>

    <table style="width:700px">
      <caption>Dernières commandes au plus tard à {{ order.expiration | date('H\\hi') }},
          {{ order.capacity }} pizzas max
      </caption>
      <tr>
          <th>Pseudo</th>
          <th>Pizza</th>
          <th>Table</th>
      </tr>
      {% for uo in order.orders %}
        <tr>
          <td>{{ uo.user.username }}</td>
          <td>{{ uo.pizza.name }}</td>
          <td>{{ uo.user.table }}</td>
        </tr>
      {% endfor %}
    </table>
  </section>
  {% endfor %}

</article>

{% endblock %}
