{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  {% stylesheets 'bundles/insalan/css/archives.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<header>
  <h1 class="text-center" style="font-size:40px; margin-top: 18px">{{edition.name}}</h1>
  <h2 class="text-center">Année {{edition.year}}</h2>
</header>

<br/><hr/><br/>

{% if streams is not empty %}
<article class="info">
  <aside>
    <div class="square">
      <a href="{{ path('insalan_archives_default_previousyear', {'edition': edition.id}) }}"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Streams - {{ album }}</h2>
  </header>

  <section>
    <div class="picture-list ">
      {% set nbStreams = 25 %}
      {% for s in streams|slice((page - 1) * nbStreams, page * nbStreams)  %}
      {% if 'youtube' in s.url %}
        {% set playerClass = "youtubecustom" %}
      {% elseif 'twitch' in s.url %}
        {% set playerClass = "twitchplayer" %}
      {% else %}
        {% set playerClass = "otherplayer" %}
      {% endif %}
      
      <div class="{{ playerClass }}" data-url="{{ s.url }}" width="700" height="437" autoplay="0"></div>
      {% endfor %}
    </div>
  </section>
</article>
{% endif %}

<br/><hr/><br/>

{% set pageMax = ((streams|length) / nbStreams)|round(0, 'ceil') %}
{% if pageMax > page %}
  <a href="{{ path('archives_streams', {'edition': edition.id, 'album': album, 'page': page + 1}) }}" class="btn2 pull-right" style="margin-left: 10px;">Suivant</a>
{% endif %}
{% for i in (min(pageMax, page + 5))..(max(1, (pageMax - 5))) %}
  {% if i == page %}
    <a href="{{ path('archives_streams', {'edition': edition.id, 'album': album, 'page': i}) }}" class="btn2 pull-right" style="margin-left: 10px;">{{i}}</a>
  {% else %}
    <a href="{{ path('archives_streams', {'edition': edition.id, 'album': album, 'page': i}) }}" class="btn2 btn2-nocolor pull-right" style="margin-left: 10px;">{{i}}</a>
  {% endif %}
{% endfor %}
{% endblock %}
