{% extends 'informationLayout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/news.css") }}" />
{% endblock %}

{% block body %}
{{ parent() }}

{#<img src="{{ asset('img/baston.png') }}" width="1000"/>#}

<article id="Baston" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Présentation</h2>
  </header>

  <section>
    <p>
      Chers ami.e.s joueurs et joueuses, fans de versus et de fun, le 3HitCombo est de retour à l’InsaLan pour organiser 2 tournois de jeux de combat !!! Et cette année, on envoie notre maximum pour vous fournir non pas un mais deux jours de folie !!!
    </p>
    <p>
      Vous pouvez venir regarder les tournois et jouer en freeplay gratuitement, des animations et des sideevents sont prévus pour les visiteurs et les joueurs !
    </p>
    <p>
      <strong>Samedi</strong>, suite à l’énorme carton du jeu l’année dernière et de la dynamique de la scène française sur le jeu, nous décidons de reconduire <strong>Super Smash Bros. Ultimate</strong> ! Alors venez donc frapper votre adversaire afin qu’il ne remette jamais les pieds sur la terre ferme jusqu’à ce que vous décrochiez la victoire ! Nouveauté de cette année, nous étendons les slots à <strong>96 joueurs</strong> avec des <strong>poules</strong> qualificatives pour un <strong>bracket final</strong> !!
    </p>
    <p>
      <strong>Dimanche</strong>, nous vous réservons un tournoi sur un grand classique de la communauté rennaise des jeux de combat <strong>Street Fighter III : Third Strike</strong> ! Le tournoi sera organisé sur <strong>CPS3 Supergun</strong> ! Alors n’hésitez pas à venir full pas-rire avec nous. Les inscriptions sont limitées à <strong>64 joueurs</strong> !
    </p>
  </section>
</article>

<br/><br/>

<div class="partner-list">
  <div class="partner partner-small">
    <a href="http://www.3hitcombo.fr/">
      <img src="{{ asset('img/partners-preview/3hit.png') }}" alt="3Hit Combo" />
    </a>
  </div>
  <div class="partner partner-small">
    <a href="https://www.facebook.com/WarpZonebar">
      <img src="{{ asset('img/partners-preview/warpzone.png') }}" alt="Warp Zone" />
    </a>
  </div>
</div>

<br/><br/>

<hr></hr>

<article id="links" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>
  
  <header>
    <h2>Programme et tarifs des tournois</h2>
  </header>
  
  <section>
    <em style="text-align: center">
      Les horaires sont donnés à l’heure de Paris et sont celles de début des tournois. Les inscriptions sur place seront fermées 30 minutes avant le début de chaque tournoi.
      <br/>
      Le premier tarif indique le tarif classique et le deuxième le tarif réduit (étudiants/chômeurs/adhérents 3HC) sous présentation de justificatifs.
    </em>
    
    <p>
      <br><h2><strong>Samedi</strong></h2><br>
      <ul class="shift">
        <li>11h00 : Super Smash Bros. Ultimate (96 slots) 12€/10€ , 300€ + 60% des inscriptions  de cashprize</li>
        <li>18h : Street Fighter III : Third Strike, team, Sideevent, gratuit</li>
      </ul>
      <br><h2><strong>Dimanche</strong></h2><br>
      <ul class="shift">
        <li>11h00 : Street Fighter III : Third Strike, solo (64 slots) 10€/8€</li>
      </ul>
    </p>
  </section>
</article>

<br class="clear">

<hr></hr>

<br/><br/>
<center>
  <a href="{{ globalVars.bastonRegisterLink }}" class="btn btn-plain">Inscription</a>
  <p>
    Ouverture des inscriptions le {{ globalVars.bastonStartRegistration }} (GMT +1)
  </p>
</center>
<br/><br/>
{% endblock %}
