<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% block customcss %}
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/info.css" />
    {% endblock %}

    <link href="{{ asset('/public/img/favicon.png') }}" rel="icon" type="image/png"/>
    <link href="//fonts.googleapis.com/css?family=PT+Sans%7COpen+Sans:300%7COswald" rel="stylesheet" type="text/css"/>

    <title>{% block title %}InsaLan{% endblock %}</title>

    <!--[if lt IE 9]>
      <script src="{{ asset('"/public/js/html5shiv.js') }}"></script>
    <![endif]-->
  </head>

  <body id="body">

    {% block main_header %}

    {% if show_streams_header %}
      <div class="streamsHeader">
        <div>
          <div class="rec"></div>
          <p>EN DIRECT</p>
        </div>
        <span></span>
        <a href="{{ path('app_stream_index') }}" class="btn-primary">
          <p>Accéder aux streams</p>
        </a>
      </div>
    {% endif %}

    <header>
      <div class="container">
        
        <div class="logo">
          <a href="{{ path('app_news_index') }}">
            <img src="{{ asset('/public/img/logo-noyear-downscaled.png') }}" alt="InsaLan"/>
          </a>
        </div>

        {% block top_infos %}
        <div class="input">
          <nav>              
            <ul>
              {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('app_tournamentmerchant_index') }}" class="btn2 bnt2-ncolor">Billetterie</a></li>
                  <li><a href="{{ path('app_admin_index') }}" class="btn2 bnt2-ncolor">Admin</a></li>
                  <li><a href="{{ path('sonata_admin_dashboard') }}" class="btn2 bnt2-ncolor">Sonata</a></li>
                  <!-- Change the route to user dashboard once set up -->
                  <li><a href="{{ path('app_tournamentuser_index') }}" class="btn2 btn2-nocolor">Mon compte</a></li>
                {% elseif is_granted('ROLE_MERCHANT') %}
                  <li><a href="{{ path('app_tournamentmerchant_index') }}" class="btn2 bnt2-ncolor">Billetterie</a></li>
                  <li><a href="{{ path('app_tournamentuser_index') }}" class="btn2 btn2-nocolor">Mon compte</a></li>
                {% else %}
                  <li><a href="{{ path('app_tournamentuser_index') }}" class="btn2 btn2-nocolor">Mon compte</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}" class="btn2">Déconnexion</a></li>
              {% else %}
                <li><a href="{{ path('app_tournamentuser_index') }}" class="btn2 btn2-nocolor">Connexion</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}" class="btn2">Inscription</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>

        {% set page = app.request.get('_route') %}
        <div class="navbar">
          <nav>
            <ul>
              <li{% if page == 'app_news_index' %} class="active"{% endif %}>
                <a href="{{ path('app_news_index') }}">Accueil</a>
              </li>
              <li class="dropdown {% if page in [
                  'app_information_wwwh',
                  'app_information_tournament',
                  'app_information_public',
                  'app_information_asso'
                ] %}active{% endif %}">
                <a href="{{ path('app_information_wwwh') }}">Informations</a>
                <div class="dropdown-content">
                  <a href="{{ path('app_information_wwwh') }}">Infos Générales</a>
                  <a href="{{ path('app_information_tournament') }}">Tournois</a>
                  <a href="{{ path('app_information_public') }}">Public</a>
                  <a href="{{ path('app_information_asso') }}">Association</a>
                </div>
              </li>
              <li{% if page == 'app_tournament_index' %} class="active"{% endif %}>
                <a href="{{ path('app_tournament_index') }}">Tournois</a>
              </li>
              {% if show_pizza_tab %}
                <li{% if page == 'app_pizza_index' %} class="active"{% endif %}>
                  <a href="{{ path('app_pizza_index') }}">Pizzas</a>
                </li>
              {% endif %}
              {#{% if app.user %}
                <li><a href="{{ path('app_information_playersinfos') }}">Infos joueurs</a></li>
              {% endif %}#}
              <li{% if page == 'app_information_cosplay' %} class="active"{% endif %}>
                <a href="{{ path('app_information_cosplay') }}">Cosplay</a>
              </li>
              <li{% if page == 'app_information_baston' %} class="active"{% endif %}>
                <a href="{{ path('app_information_baston') }}">Baston</a>
              </li>
              {% if app.user %}
                <li{% if page == 'app_information_hardwarerental' %} class="active"{% endif %}>
                  <a href="{{ path('app_information_hardwarerental') }}">Locations</a>
                </li>
              {% endif %}
              <li{% if page == 'app_rsc_index' %} class="active"{% endif %}>
                <a href="{{ path('app_rsc_index') }}">RSC</a>
              </li>
              <li{% if page == 'app_archives_index' %} class="active"{% endif %}>
                <a href="{{ path('app_archives_index') }}">Archives</a>
              </li>
              {#<li><a href="{{ path('app_news_forum') }}">Forum</a></li>#}
            </ul>
          </nav>
        </div>
        {% endblock %}
      
      </div>
    </header>
    {% endblock %}
      
    {% block social %}
    <aside class="social">
      <ul>
        <li>
          <div id="return-top"><a href="#body"><span></span></a></div>
        </li>
        <li>
          <a id="twitter" target="_blank" href="https://twitter.com/insalan">
            <img src="{{ asset('/public/img/twitter.png') }}" alt="Twitter"/>
          </a>
        </li>
        <li>
          <a id="facebook" target="_blank" href="https://www.facebook.com/insalan">
            <img src="{{ asset('/public/img/facebook.png') }}" alt="Facebook"/>
          </a>
        </li>
        <li>
          <a id="mail" href="mailto:contact@insalan.fr"><span>📧</span></a>
        </li> 
      </ul>
    </aside>
    {% endblock %}

    {% if app.session.flashbag.peekAll()|length %}
      <section class="container">
        {% for label, flashes in app.session.flashbag.all %}
          {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
              {{ flash }}
            </div>
          {% endfor %}
        {% endfor %}
      </section>
    {% endif %}  
    
    {% block rawbody %}{% endblock %}

    {% block main_bottom %}
    <footer>
      <div class="container">
        <div class="contact">
          <div>
            <a id="logo" href="{{ path('app_news_index') }}"></a>
            <a id="facebook" href="https://www.facebook.com/insalan">
              <img src="{{ asset('/public/img/facebook.png') }}" alt="Facebook"/>
            </a>
            <a id="twitter" href="https://twitter.com/insalan">
              <img src="{{ asset('/public/img/twitter.png') }}" alt="Twitter"/>
            </a>
            <div id="mail"><a href="mailto:contact@insalan.fr">contact@insalan.fr</a></div>
          </div>
        </div>

        {% block bottom_infos %}
        <div class="navmap">
          <nav>
            <ul>
              <li>
                <header><a href="{{ path('app_tournament_index') }}">Tournois</a></header>
                <ul>
                  <li><a href="{{ path('app_news_index') }}">Accueil</a></li>
                  <li><a href="{{ path('app_user_index') }}">Connexion</a></li>
                  <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                </ul>
              </li>

              <li>
                <header><a href="{{ path('app_information_wwwh') }}">Infos</a></header>
                <ul>
                  <li><a href="{{ path('app_news_index') }}">Déroulement</a></li>
                  <li><a href="{{ path('app_tournament_index') }}">Jeux</a></li>
                  <li><a href="{{ path('app_news_index') }}">Prix</a></li>
                </ul>
              </li>

              <li>
                <header><a href="{{ path('app_news_index') }}">InsaLan.fr</a></header>
                <ul>
                  <li><a href="{{ path('app_news_index') }}">News</a></li>
                  {#<li><a href="http://www.insalan.fr/gallery/">Galerie</a></li>
                  <li><a href="{{ path('app_stream_index') }}">Stream</a></li>#}
                  <li><a href="{{ path('app_information_tournament') }}#discord">Discord</a></li>
                  <li><a href="{{ path('app_information_wwwh') }}#contact">Contact</a></li>
                </ul>
              </li>

              <li>
                <header><a>À Propos</a></header>
                <ul>
                  <li><a href="{{ path('app_information_mentions') }}">Mentions légales</a></li>
                  <li><a href="{{ path('app_information_salesterms') }}">Conditions générales<br/> de vente</a></li>
                  <li><a href="#tarteaucitron">Gestion des<br/> cookies</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <div class="logo">
          <ul>
            <li>
              <a href="http://aeir.insa-rennes.fr/">
                <img src="{{ asset('/public/img/partners-preview/aeir.png') }}" alt="AEIR" />
              </a> 
            </li>
            <li>
              <a href="http://www.insa-rennes.fr">
                <img src="{{ asset('/public/img/partners-preview/insa-rennes.png') }}" alt="INSA Rennes"/>
              </a>
            </li>
          </ul>
        </div>
        {% endblock %}
        
        <div class="copyright">
          <ul>
            <li>© 2014-2019 InsaLan</li>
            <li><span>|</span></li>
            <li>Design by <a href="https://www.alecahain.fr/">Aceltis</a></li>
            <li><span>|</span></li>
            <li>Code by <a href="https://nhurman.fr/">Nicolas</a>, <a href="https://www.lesterpig.com/">Loïck</a>, <a href="https://quentin.dufour.io">Quentin</a> &amp; <a href="https://mricher.fr/">Maximilien</a></li>
          </ul>        
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="/public/js/mootools-core-1.4.5.js"></script>
        <script type="text/javascript" src="/public/js/mootools-more-1.4.0.1.js"></script>
        <script type="text/javascript" src="/public/js/global.js"></script>
        <script type="text/javascript" src="/public/tarteaucitron.js/tarteaucitron.js"></script>

        <script type="text/javascript" src="/public/js/tarteaucitron.config.js"></script>
    {% endblock %}
  </body>
</html>
