{% extends 'InsaLanUserBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      &#x2699;
    </div>
    <h2 class="title pull-left">Mon profil</h2>
    <br class="clear">
  </header>

  {% if erreur is defined %}
    <div class="text">
      <br/>
      <p style="text-align: center;">
        Une erreur est survenue lors de la validation du compte. Veuillez réessayer.
      </p>
      <br/>
      <br/>
      <a class="btn btn-primary" href="{{path('insalan_user_default_registersteamid')}}">Réessayer</a>
    </div>
  {% else %}
    <div class="text" style="text-align: center;">
      <img src="{{avatarSteamSrc}}"/>
      <p>
        <strong>{{connectedAccount}}</strong>
      </p>
      <br/>
      <p>Votre id steam a été sauvegardé !</p>
      <br/>
      <br/>
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{path('insalan_user_default_index')}}">Retour au profil</a>
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{path('insalan_tournament_user_index')}}">Inscription aux tournois</a>
    </div>
  {% endif %}
</div>
{% endblock %}
