{% extends 'tournamentLayout.html.twig' %}

{% block main_header %}
{% endblock %}

{% block main_bottom %}
{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<br/>

{% if emailList is not empty %}
  <a class="btn2" href="mailto:?{% for email in emailList %}{% if loop.index0 != 0 %}&{% endif %}bcc={{ email }}{% endfor %}">
    Envoyer à la liste ci-dessous
  </a>
  <br/>
  <br/>
{% endif %}

<div>
  <ul>
    {% for email in emailList %}
    <li>
      {{ email }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
