<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Récapitulatif avant paiement</div>
    <br class="clear">
  </header>
  <div class="text">
      <table class="order">
          <tr>
              <td>Prix de la place</td>
              <td>{{ constant('ONLINE_PRICE', manager) }} {{ tournament.currency }}</td> 
           </tr>
           <tr>
               <td>Majoration si paiement en ligne</td>
               <td>{{ tournament.onlineIncreaseInPrice }} {{ tournament.currency }}</td>
           </tr>
        </table>
           <br>

        <h2><strong>Points importants</strong></h2><br/>
        <ul class="shift">
            <li>Si vous coachez une équipe, celle-ci ne doit pas comporter de remplaçant afin que vous ayez la place de vous installer.</li>
            <li>En vous inscrivant, <strong>vous vous engagez à participer au RSC{#à l'InsaLan#}</strong>. Si en cas de force majeure vous devez annuler votre inscription et voulez le remboursement de votre place, contactez-nous : <span class="emphase">contact@insalan.fr</span><br/>
            Si vous avez payé en ligne, la majoration de paiement en ligne ({{ tournament.onlineIncreaseInPrice }} {{ tournament.currency }}) ne sera pas remboursée. Toute demande de remboursement effectuée après le {{ tournament.registrationClose|date('d/m/Y à H:i') }} ne sera pas acceptée.</li>
        </ul>
      <br/>
      <p>
         En cliquant sur le bouton "Chèque/Sur place" ou le bouton "Paiement en ligne" vous déclarez avoir lu et accepté sans réserve les <strong><a href="{{ path('insalan_information_default_salesterms') }}" target="_blank" >[conditions générales de vente &#x25BE;]</a></strong>
      </p>

        </br>
  </div>

  {% if tournament.participantType == 'team' %}
  <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_manager_leaveteam', {tournament: tournament.id, teamId: manager.participant.id}) }}">Annuler</a>
  {% else %}
  <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_manager_leave', {tournament: tournament.id}) }}">Annuler</a>
  {% endif %}

  {% if manager.participant.validated %}
  <a class="btn btn-primary ctrl grid-3 pull-left" href="{{ path('insalan_tournament_manager_payoffline', {tournament: tournament.id}) }}">Chèque/Sur place</a>
    {% if tournament.isOpenedNow %}
      <a class="btn btn-primary ctrl grid-5 pull-left" href="{{ path('insalan_tournament_manager_paypaypalec', {tournament: tournament.id}) }}">Paiement en ligne</a>
    {% else %}
      <span class="btn ctrl grid-5 pull-left">Paiment en ligne indisponible</span>
    {% endif %}

  {% else %}

  <span class="btn ctrl grid-8 pull-left">L'équipe choisie n'est pas validée !</span>

  {% endif %}

  <br class="clear">
</div>
